/*------------------------------------------------------------------
[Main Stylesheet]

Project:	MyClinic HTML
Version:	v1
Last change:	03/09/14
Copyright 2014, PixFort
www.pixfort.com
-------------------------------------------------------------------*/


/*Google Font*/
	@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);

									/*-- my Clinic */

	.bottom_border{
		border-bottom: 5px solid #c8c1c1;
	}
	.top_1{
		padding-top: 25px;
		padding-bottom: 15px;
	}
	.logo1_font{
		color:#696969;
		font-family:'Open Sans', sans-serif;
		font-size:36px;
		font-weight: bold;
	}
	.logo2_font{
		color:#a9a9a9;
		font-size:20px;
		font-family:'Open Sans', sans-serif;
		font-weight: normal;
	}
	.point_font{
		font-family: 'Open Sans', sans-serif;
		color: rgb(230, 139, 126);
		font-size: 36px; 
		font-weight: bold;
	}
	.blockquote {
		padding:	8px 10px;
		width: 100%;
		border-radius: 5px;
		background-color: #eee;
		border: 1px solid #dedede;
		position: relative;
		display: block;
		float: right;
		text-align: center;	
	}
	.fb_span{
		position: relative;
		top: -20px!important;
		height: 20px;
	}
	 .social_span{
	     padding: 0px 0px;
	     position: relative;
	     padding-top: 15px;
	     top: 3px;
	 }
	 .c1{
	 	display: inline-block;
	 	height: 20px;
	 	width: 60px;
	 	margin-left: 20px;
	 }
	 .twitter-share-button{ margin-right: 20px;}

	/*Welcome to our High Quality */
	.main_bg{
		background: url('../homepage-background/bg.jpg')  fixed ;
		background-attachment : fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.top_2{
		padding-top: 90px;
		padding-bottom: 90px;
	}
	.welcome_font{
		font-size:32px;
		color:#ffffff;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		line-height: 50px;
	}
	.text1_font{
		font-size:20px;
		color:#d3d3d3;
		font-family:'Open Sans', sans-serif;
		text-align:left;
		margin-bottom: 30px;
		display: inline-block;
		line-height: 30px;
	}
	.text2_font{
		font-size:16px;
		color:#a9a9a9;
		font-family:'Open Sans', sans-serif;
		text-align:left;
		font-style: italic;
		line-height: 20px;
	}
	.text3_font{
		font-size:16px;
		color:#d3d3d3;
		font-family:'Open Sans', sans-serif;
		text-align:left;
		font-style: italic;
		font-weight: bold;
	}
	.top-20{ padding-top: 20px; }
	.box_heart1{
		height: 350px;
		left: 0;
		text-align: center;
		margin-top: 30px;
	}
	.box_heart1 img{
		max-width: 100%;
	}
	.submit_btn1 a{
		color: #fff;
		text-decoration: none;
		display: inline-block;
		padding: 20px 30px;
		border: 3px solid #fff;
		font-family:'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 18px;
		border-radius: 3px;
		text-align: center;
		margin-right: 5px; 
		border-radius: 4px;
		-webkit-transition: all 0.2s linear;
	       -moz-transition: all 0.2s linear;
	        -ms-transition: all 0.2s linear;
	         -o-transition: all 0.2s linear;
	}	
	.submit_btn1:hover a{
	 	color: #e68b7e;
	 	color: #e68b7e;
	 	background:#fff; 	
	}
	/*specialized medical staff*/

.sub_bg_2{
	background: #e68b7e;
	border-top: 2px solid #fbc1b8; 
}
.big_box{
	position: relative;
}
.img_box {
	width: 100px;
	position: absolute;
	left: 0;
}
.img_box img{
	position: relative;
	width: 100px;
	height: 100px;
	left: 0;
	padding-top: 18px;
}
.inlinedisplay {
	display: inline-block;
	margin: 30px 0px;
	margin-left: 90px;

}
.chiffre-font{
	color: #ffffff;;
	font-size: 48px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	float: left;
	display: inline;
	padding-top: 25px;
	padding-right: 3px;
}
.text-font{
	color: #fbc1b8;
	font-size: 20px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-weight: normal;
	display: inline-block;
	position: relative;
	top: 5px;
}

														/*Why to choose us  .....*/
.sub_bg_3{
	background: #fff;
}
.header_margin2{
	margin-top: 80px;
	margin-bottom: 70px;
	border: 1px solid #dddddd;
	padding-top: 70px;
	padding-bottom: 70px;
}
.titre_{
	color: #808080;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 600;
	padding-top: 40;
}
.text_{
	color: #a9a9a9;
	line-height: normal;
	font-family: 'Open Sans', sans-serif;
	margin-left: 35px;
	margin-right: 35px;
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
}
.text_sub{
	color: #a9a9a9;
	line-height: 30px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 35px;
	margin-right: 35px;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
	text-align: center;
	color: #999;
}
.img_t {
    opacity: 0.6;
    filter: alpha(opacity=40); /* For IE8 and earlier */
     -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
}

.img_t:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.why_font{
	font-size:36px;
	color:#696969;
	font-family:'Open Sans', sans-serif;
	text-align:center;
	font-weight: 600;
	line-height: 40px;
	padding-bottom: 25px;
}
.why_resp_font{
	font-size:18px;
	color:#808080;
	font-family:'Open Sans', sans-serif;
	text-align:center;
	font-weight: normal;
	padding-top: 25px;
	margin-bottom: 50px;
}
.div_center{
	text-align:center;
}
.div-center img{
	max-width: 100%;}

.sous_header{
	height: 5px;
	background: #e68b7e;
	width:80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.top_3{padding-top: 35px;
	padding-bottom: 15px;}


											/*Our  services  .....*/
.bottom_50 {
	margin-bottom: 50px;
}
.sub_bg_1{
background: #eee;
}											
top_4{
	padding-top: 10px;
	padding-bottom: 15px;}

.text_starts{
	color: #e68b7e;
	font-size: 12px;
	line-height: normal;
	font-family:'Open Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;}

.div_center_service{
	text-align:center;
	background-color: #fff;
	margin: 30px;
	border-radius: 5px;
}
.div-center_service img{
	width: 100% !important;}

.titre_2{
	color: #808080;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 600;
	padding-top: 40;
}
.services_font{
	font-size:36px;
	color:#696969;
	font-family:'Open Sans', sans-serif;
	text-align:center;
	font-weight: bold;
	padding-bottom: 25px;	
}
.service_resp_font{
	font-size:16px;
	color:#808080;
	font-family:'Open Sans', sans-serif;
	text-align:center;
	font-weight: normal;
	margin-bottom: 30px;
}
.service_img_box{
	position: relative;
	width: 100%;
	height: 185px;
	left: 0;
	text-align: center;
}
.top_b{
		padding-bottom: 50px;
		padding-top: 90px;
}


											/*This video is about our work*/
.video_div { text-align: center; }											
.video_font{ font-size:36px;font-family:'Open Sans', sans-serif;text-align:center;font-weight: bold;padding-bottom: 25px;	color: #fff;line-height: 40px; }
.video_tagline_font{
	font-size:20px;
	color:#aaa;
	font-family:'Open Sans', sans-serif;
	text-align:center;
	font-weight: normal;
	margin-top: 20px;
	line-height: 35px;
}
.video_span { background: rgba(255,255,255,0.2);padding: 8px;display: inline-block;padding-bottom: 2px;border-radius: 3px;margin-top: 30px;border: 1px solid #888;max-width: 100% !important; }
.video_span iframe { max-width: 100%;}

												/*What our patients say about us*/
												

.border_say{
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #Fff;
	text-align:center;
	position: relative;
	width: 100%;	
}
.border_say img{
	width: 100% !important;	
	margin-bottom: -6px;
}
.patients_titre{
	color:#696969;;
	font-size: 36px;
	font-family:'Open Sans', sans-serif;
	text-align: center;
	padding-bottom: 25px;
	line-height: 40px;	
}	
.patients_font{
	color:#808080;
	font-size: 18px;
	font-family:'Open Sans', sans-serif;
	text-align: center;
	position: relative;
	display: inline-block;
	padding-top: 55px;
	padding-bottom: 20px;	
}	
.maria{
	color:#e68b7e;
	font-size: 12px;
	font-family:'Open Sans', sans-serif;	 
}
.bottom25{
	padding-bottom: 25px;
}

.top_5{
		padding-bottom: 90px;
		padding-top: 90px;
}

											/*Information */
.sub_bg_4{
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding-top: 30px;
	background-color: #fff;
	float: left;
}
#contact_form{
		font-size: 11px;
		font-weight: bold;
		color: #666666;
		margin-right: auto;
		padding-left: 40px;
		margin-left: auto;
	}
#contact_form legend{
		font-size: 15px;
		color: #C9C9C9;
	}
#contact_form label{
		margin-bottom:5px;
		color: #e28484;
		font-size: 14px;
		font-family: arial;
		font-weight: bold;
	}
#contact_form label span{
		float:left;
		color: #e28484;
		font-size: 14px;
		font-family: arial;
		font-weight: bold;
	}
#contact_form input{
		height: 25px;
		border-radius: 3px;
		padding-left: 4px;
		border: 1px solid #bbb0b0;
		border-radius: 3px;
		background: #fff;
		color: #000;
		width: 85%;
		max-width: 96%;
	}
#contact_form textarea{
		border-radius: 3px;
		padding-left: 4px;
		height: 5em;
		width: 30em;
		border: 1px solid #bbb0b0;
		border-radius: 3px;
		background: #fff;
		color: #000;
		width: 85%;
		max-width: 96%;}

.submit_btn{
	color: #e68b7e;
	text-decoration: none;
	display: inline-block;
	border: 3px solid #e68b7e;
	font-family:'Open Sans', sans-serif;
	font-size: 18px;
	border-radius: 3px;
	text-align: center;
	width: 87%;
	max-width: 96%;
	background:#fff;
}	
.submit_btn:hover{
 	color: #fff;
 	background:#e68b7e; 
 	border: 3px solid #e68b7e;	
 }
.contact_font{
		color: #e68b7e;
		font-style: 'Open Sans', sans-serif;
		font-size: 36px;
		padding-left: 30px;
	}
.available_font{
	font-family:'Open Sans', sans-serif;
	font-size: 16px;
	color: rgb(128, 128, 128);
	line-height: 8px;
	margin-top: 20px;
	list-style: disc;
	padding-left: 45px;
}
.info_font{
	font-family:'Open Sans', sans-serif;
	font-size: 16px;
	color: ##808080;
	line-height: 8px;
	margin-top: 20px;
	list-style: disc;
	padding-left: 40px;
	padding-bottom:10px;  }	

.iframe_center{
	padding-bottom:30px; 

	height: 339px ;
	width: 100%;
	position: relative;
	display: block;
}
.iframe_center iframe{
	height: 339px;
	position: relative;
	padding:0px 30px;
	max-width: 80%;
}
.sub_bg_5{
	background-color: #dcdee0;
}
.love_font{
	color: #a9a9a9;
	font-family:'Open Sans', sans-serif;
	font-size: 14px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

  .success{
      background: #CFFFF5;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #B9ECCE;
      border-radius: 5px;
      font-weight: normal;
    }
    .error{
      background: #FFDFDF;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #FFCACA;
      border-radius: 5px;
      font-weight: normal;
    }




  .confirm_page{
    display:none;
    height: auto;
  }
  .confirm_header{
    text-align: center;
    color:#fbc1b8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
  }
  .confirm_text{
    text-align: center;
    font-size:14px;
    color:#808080;
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    padding: 30px;
  }
  .confirm_logo{
    text-align: center;
    padding: 20px;
  }
  .confirm_social{
    text-align: center;
  }
  .confirm_gp {
    position: relative;
    top: -12px;
    padding: 0px 20px;
  }



/* thumb image */
.thumb { position: relative; margin-bottom: 5px; overflow: hidden; }
.thumb a, .thumb a img { display: block; }
.thumb a img { width: 100%; height: 175px;overflow: hidden;}
.thumb .info { position: absolute; left: 0; top: 0; bottom: 0; width: 100%; opacity: 0; filter: alpha(opacity=0); -webkit-transition: all .25s linear; -moz-transition: all .25s linear; -o-transition: all .25s linear; -ms-transition: all .25s linear; transition: all .25s linear; }
.thumb:hover .info { opacity: 1; filter: none; }
.thumb .pattern { 
 background-color: rgba(0,0,0,0.4); pointer-events: none; }
.thumb .text { display: none; position: absolute; left: 0; bottom: 0; width: 100%; background: #222; background: rgba(0,0,0,0.75); color: #fff; padding: 10px 0; }
.thumb:hover .text { display: block; }
.thumb .text strong, .thumb .text em { display: block; line-height: 15px; padding: 0 10px; }
.thumb .text strong { font-size: 12px; padding-bottom: 5px; text-transform: uppercase; }
.thumb .text em { font-size: 11px; line-height: 17px; }
.thumb .text span { display: inline-block; background: url(img/sprite.png) no-repeat; }
.thumb .text em.date span { width: 14px; height: 17px; background-position: -51px -19px; margin-right: 5px; position: relative; top: 3px; }
.thumb .text a.link, .thumb .text a.fullsize { position: absolute; bottom: 10px; width: 17px; height: 17px; background: url(img/sprite.png) no-repeat -999px 0; }
.thumb .text a.link { right: 35px; background-position: -55px 0; }
.thumb .text a.fullsize { right: 10px; background-position: 0 -15px; pointer-events: auto; }
.thumb .button-fullsize, .thumb .button-link { position: absolute; top: 50%; left: 50%; display: block; width: 63px; height: 63px; background: url(img/sprite.png) no-repeat -64px -81px; opacity: .75; filter: alpha(opacity=75); pointer-events: auto; margin: -32px 0 0 -32px; pointer-events: none; }
.thumb .button-fullsize { background-position: 0 -81px; }

.thumb2 .pattern,.thumb2  {

}
.thumb2{
  margin-bottom: 10px;
}
/* fancybox */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { border: 0; outline: none; vertical-align: top; margin: 0; padding: 0; }
.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }
.fancybox-skin { position: relative; background: #f9f9f9; color: #444; text-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.fancybox-opened { z-index: 8030; }
.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.25); -moz-box-shadow: 0 5px 15px rgba(0,0,0,.25); box-shadow: 0 5px 15px rgba(0,0,0,.25); }
.fancybox-outer, .fancybox-inner { position: relative; }
.fancybox-inner { overflow: hidden; }
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }
.fancybox-error { color: #444; font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; white-space: nowrap; margin: 0; padding: 15px; }
.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }
.fancybox-image { max-width: 100%; max-height: 100%; }
#fancybox-loading, .fancybox-prev span, .fancybox-next span { background-image: url(img/sprite.png); }
#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -23px; margin-left: -23px; background-position: -130px -109px; opacity: .8; cursor: pointer; z-index: 8060; }
#fancybox-loading div { width: 46px; height: 46px; background: url(img/loading.gif) center center no-repeat; }
.fancybox-close { background-image: url(img/X.png); position: absolute; top: -18px; right: -18px; width: 34px; height: 34px; cursor: pointer; z-index: 8040; background-position: 0px 0; }
.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; background: transparent url(data:;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==); -webkit-tap-highlight-color: rgba(0,0,0,0); z-index: 8040; }
.fancybox-prev { left: 0; }
.fancybox-next { right: 0; }
.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 36px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }
.fancybox-nav:hover span { visibility: visible; }
.fancybox-prev span { left: 10px; background-position: -140px -36px; }
.fancybox-next span { right: 10px; background-position: -140px -72px; }
.fancybox-tmp { position: absolute; top: -9999px; left: -9999px; visibility: hidden; }
.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVR42mIU4OHZwEAEYGIgEowqpI5CgAADAGiRAOzkX/wUAAAAAElFTkSuQmCC); }
.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }
.fancybox-title { visibility: hidden; font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; position: relative; text-shadow: none; z-index: 8050; }
.fancybox-opened .fancybox-title { visibility: visible; }
.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }
.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; background: rgba(0,0,0,0.8); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; text-shadow: 0 1px 2px #222; color: #FFF; font-weight: bold; line-height: 24px; white-space: nowrap; padding: 2px 20px; }
.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff; }
.fancybox-title-inside-wrap { padding-top: 10px; }
.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; background: rgba(0,0,0,.8); padding: 10px; }
.fancybox-lock{
    margin-right:0 !important;
}


    /* ********************************** End ********************************** */