/*------------------------------------------------------------------
Theme Name:	HEARTIFY
Version:	1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]

	1. Global Styles
	2. Homepage Slider
	3. Header
	4. Theme Extras
	5. About Section 
	6. Insurance section
	7. Twitter Feed
	8. Team
	9. Jobs Section
	10. Pricing 
	11. Services 
	12. Blog Section
		12.1. Related Posts
	13. Footer / 1
	14. Contact 
	15. Footer / 2

-------------------------------------------------------------------*/


/* 1. Global Styles */

html {
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', 'sans-serif';
/*     font-size:1.4em; */
	font-weight: 400;
}

html,
body {
	height: 100%;
}

.main-wrapper {
	width: 100%;
}


/* 2. Homepage Slider */

#bg-slider-home {
	position: relative;
	width: 100%;
	padding-top: 0px;
	left: 0;
	margin: 0px;
}

.bg-slider-home {
	background: url('../../assets/img/slider/slide1.jpg') repeat fixed;
	background-size: auto 150%;
}

.bsh {
	height:180px;
	overflow:hidden; 
	background:url(../../assets/img/texture/1.jpg) no-repeat center top;
	background-size:auto 100%;
}

.bsh1 {
	height:270px;
	overflow:hidden; 
	background:url(../../assets/img/texture/1.jpg) no-repeat center top;
	background-size:auto 100%;
}

.bs-main {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

.item img {}

/* 3. Header */

.top-header {
	margin-top: 50px;
	position: relative;
	z-index: 9999;
}

.top-header .top-navigation .top-nav {
	width: 100%;
	text-align: center;
}

.top-header .top-navigation .top-nav li {
	margin-left: 30px;
}

.top-header .top-navigation .top-nav li:nth-child(4) {
	margin-left: 40px;
	margin-right: 10px;
	text-decoration: none;
}

.top-header .top-navigation .top-nav li:nth-child(4) a:hover {
	border-bottom: none;
}

.top-header .top-navigation .top-nav li a {
	color: black;
	font-size: .9em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.5px;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
}

.top-header .top-navigation .top-nav li.active a,
.top-header .top-navigation .top-nav li a:hover {
	color: #0eb2e7 !important;
	border-bottom: 2px solid #0eb2e7 !important;
	text-decoration: none;
}

.main-slider-caption {
	position: relative;
	margin-top: 35%;
	margin-left: 0%;
	padding: 65px 0;
	text-align: center;
	margin-bottom: 5%;
	background: url(../../assets/img/slider/icon.png) no-repeat center center;
}

.main-slider-caption h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0px;
}

.main-slider-caption p {
	font-size: 1em;
	padding: 0px 30px;
	color: #6a6a6a;
	line-height: 1.8em;
	width: 750px;
	margin: 0 auto;
}

.main-slider-caption h2 {
	font-size: 3em;
	margin-bottom: 20px;
	font-weight: bold;
}

.main-slider-caption h6.top-slogan {
	color: #0eb2e7;
	font-size: .9em;
	font-weight: bold;
}

.main-slider-caption h6.price-slogan {
	font-size: .9em;
	font-weight: bold;
}

.main-slider-caption h6.price-slogan span {
	font-family: 'Open Sans';
	font-size: 2em;
	letter-spacing: 0px;
	color: #0eb2e7;
}

.main-slider-image {
	margin: 0px;
	position: absolute;
	top: 40%;
	left: 100px;
	width: 60%;
	z-index: 888;
}

.main-slider-caption1 {
	position: relative;
	margin-top: 35%;
	margin-left: auto;
	margin-right: auto;
	padding: 65px 0;
	text-align: center;
	margin-bottom: 5%;
	background: url(../../assets/img/heart-bg.png) no-repeat center center;
}

.main-slider-caption1 h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0px;
	color: #fff;
}

.main-slider-caption1 p {
	font-size: 1em;
	padding: 0px 30px;
	color: #6a6a6a;
	line-height: 1.8em;
	width: 750px;
	margin: 0 auto;
}

.main-slider-caption1 h2 {
	font-size: 72px;
	margin-bottom: 20px;
	font-weight: bold;
}

.main-slider-caption1 h6 {
	color: #fff;
}

.main-slider-caption1 h6.top-slogan {
	color: #0eb2e7;
	font-size: .9em;
	font-weight: bold;
}

.main-slider-caption1 h6.price-slogan {
	font-size: .9em;
	font-weight: bold;
}

.main-slider-caption1 h6.price-slogan span {
	font-family: 'Open Sans';
	font-size: 2em;
	letter-spacing: 0px;
	color: #0eb2e7;
}

.main-slider-image1 {
	margin: 0px auto;
	position: absolute;
	top: 40%;
	left: 0;
	z-index: 888;
	right: 0px;
	width: 925px;
}

/* 4. Theme Extras */

#home {
	position: relative;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	border: 0px;
}

.video iframe,
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}

.s-audio {
	position: relative;
	padding-bottom: 22.25%;
	height: 0;
	overflow: hidden;
	border: 0px;
}

.s-audio iframe,
.s-audio object,  
.s-audio embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}

.main-header {
	width: 100%;
	height: 80px;
	border-bottom: 3px solid #e6e6e6;
	z-index: 900;
	position: relative;
}

.parallax-home {
	background: url('../../assets/img/slider/slide1.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
}

.sticky-header.stuck {
	position: fixed;
	background: white;
	border-bottom: 2px solid #eaeaea;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9994;
	height: 80px;
}

.main-header .main-logo {
	margin-top: 30px;
}

.main-header .main-logo h4 {
	margin-left: 50px;
	color: #000000;
	padding-top: 5px;
	font-weight: bold;
}

.main-header .main-logo a {
	color: black;
}

.main-header .main-logo img {
	margin-right: 14px;
}

.main-header .main-logo {
	color: black;
	font-size: 1.4em;
	letter-spacing: 2px;
	margin-left: 10px;
	font-weight: bold;
}

.main-header .main-logo a:hover {
	text-decoration: none;
	color: #0eb2e7;
}

.logo1 {
	margin-top:10px;
}

.main-navigation {
}

.main-navigation .main-nav li {
	height: 80px;
	padding-top: 30px;
	border-right: 1px solid #e6e6e6;
	margin-right: -5px;
}

.main-navigation .main-nav li:nth-child(1) {
	border-left: 1px solid #e6e6e6;
}

.main-navigation .main-nav li a {
	text-transform: uppercase;
	font-size: .9em;
	font-weight: 600;
	letter-spacing: 1px;
	color: #a6a6a6;
	width: 100%;
	padding: 0px 30px 29px 30px;
	border-bottom: 3px solid transparent;
}

.main-navigation .main-nav li.active a,
.main-navigation .main-nav li a:hover {
	color: black;
	text-decoration: none;
	border-bottom: 3px solid #0eb2e7 !important;
}

.list-inline > li {
	padding: 0px;
}

.navbar-toggle {
    margin-top: 17px;
}

/* 5. About Section */

#about , #about2 {
	background: url('../img/icons/medical-mascot.png') no-repeat;
	position: relative;
	padding-top: 100px;
	padding-bottom: 50px;
}

#about .mission-stat h2 {
}

.mission-stat h5 {
	color: #9e9e9e;
	margin-bottom: 20px;
	margin-top: 5px;
}

.mission-stat h5:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 20px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 130px;
}

.about2 .mission-stat h5:after {
	content: " ";
	display: table;
	padding-top: 20px;
	left: 0px;
	margin: 0;
	width: 130px;
}

p.lead {
	color: #000;
	line-height: 36px;
	font-weight: 400 !important;
	font-size: 24px;
}

.mission-stat p.lead {
	font-weight: 400;
}

#about .information {
	margin-top: 100px;
}

#about .information .icon {
	padding: 0px 7px 5px 0px;
	display: table;
	margin: 0 auto;
	margin-bottom: 50px;
}

#about .information .info-col {
	position: relative;
	margin: 0;
	padding: 0px;
	text-align: left;
	padding-right: 10px;
}

.about .information .info-col {
	text-align: center !important;
}

.bottom-space-50 {
	margin-bottom: 50px;
}

.bottom-space-30 {
	margin-bottom: 30px;
}

#about .information .info-col h5 {
	font-weight: bold;
}

#about .information .info-col h5:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 15px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 50px;
}

#about .information .info-col p {
	margin-top: 5px;
	color: #9e9e9e;
	font-weight: 500;
	font-size: 13px;
	line-height: 24px;
}

#about #time-plan {
}

#time-plan .owl-prev , #time-plan .owl-next {
	text-indent: -9999px;
	padding: 10px 35px;
	opacity: 1;
}

#time-plan .owl-prev {
	margin: -17px -1px 0px -190px;
}

#time-plan .owl-prev:before ,
#time-plan .owl-next:before {
	content: "\f053";
	font-family: 'FontAwesome';
	text-indent: -0px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999px;
	font-size: 20px;
	line-height: 70px;
}

#time-plan .owl-next:before {
	content: "\f054";
}

#time-plan .owl-prev:hover, #time-plan .owl-next:hover {
	background: #3ec1eb;
}

#about .sidebox-timing {
	padding: 40px;
	border: 8px solid #e5e5e5;
}

#about .sidebox-timing h6 {
	color: #9e9e9e;
	margin-top: 5px;
}

#about .sidebox-timing h6:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 15px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 50px;
}

#about .sidebox-timing p {
	color: #9e9e9e;
	margin-top: 15px;
	font-size: 13px;
	line-height: 24px;
}

#about .sidebox-timing .timings {
	margin-top: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

#about .sidebox-timing .timings li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #EEE -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

#about .sidebox-timing .timings li:first-child {
	border-top:none;
	padding-top:0px;
}

#about .sidebox-timing .timings li:last-child {
	padding-bottom:0px;
}

#about .sidebox-timing .timings span {
	font-weight: normal;
	color: #0eb2e7;
	font-family: 'Open Sans','sans-serif';
}

/*Owl Theme Button Styling*/

.owl-theme .owl-controls .owl-buttons .owl-next {
	background-color: #0eb2e7;
	opacity: .8;
	padding: 10px 30px;
	font-size: 2.5em;
	font-weight: bold;
	border-radius: 0px;
	position: absolute;
	margin: -17px -5px 0px -120px;
	border-left: 0.5px solid #eaeaea;
	z-index: 9989;
	float: left;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
	background-color: #0eb2e7;
	opacity: .8;
	padding: 10px 30px;
	font-size: 2.5em;
	font-weight: bold;
	border-radius: 0px;
	position: absolute;
	margin: -17px -5px 0px -195px;
	z-index: 9989;
	float: left;
}

/* 6. Insurance section */

#insurance-types {
	background-color: #fafafa;
	margin-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

#insurance-types .insurance-stat {
	margin-top: 75px;
}

#insurance-types .insurance-stat h5:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 30px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 135px;
}

#insurance-types .insurance-stat h5 {
	color: #9E9E9E;
	margin-top: 5px;
	letter-spacing: 3px;
	font-size: 14px;
}

#insurance-types .insurance-stat p.lead {
	margin-top: 40px;
}

#insurance-types .insurance-information {
	position: relative;
	top: 50px;
}

#insurance-types .insurance-information h5 {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 18px;
}

#insurance-types .insurance-information h5:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 15px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 50px;
}

p {
	font-size: 13px;
	line-height: 24px;
	color: #9e9e9e;
}

#insurance-types img {
	width: 100%;
}

ul.doctor-list {
	display: inline-block;
	padding-right: 0px;
	margin: 20px 20px 0px 0px;
	width: 43.8%;
}

ul.doctor-list li {
	margin-top: 10px;
	margin-bottom: -10px;
}

ul.doctor-list li {
    padding-top: 16px;
    padding-bottom: 16px;
    border-width: 0px 0px 1px;
    border-style: solid none none;
    border-color: #EEE -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

ul.doctor-list li:first-child {
	border-top:1px solid #EEE;
	padding-top:0px;
}

ul.doctor-list li:last-child {
	padding-bottom:0px;
}


ul.doctor-list li a {
	color: #0eb2e7;
}

ul.doctor-list li a:hover {
	text-decoration: none;
}

ul.doctor-list li h6 {
	font-weight: bold;
}

/* 7. Twitter Feed */

#twitter-feed {
	position: relative;
	color: white;
	background-color: rgba(19,190,244,0.7);
	padding: 75px 0px 75px;
	height: 415px;
	overflow: hidden;
}

#twitter-feed .container {
	position: relative;
	z-index: 20;
}

#twitter-feed .tweet-section {
	margin-top: 0px;
}

#twitter-feed h5 {
	margin-top: 5px;
	font-family: 'Open Sans','sans-serif';
}

#twitter-feed .twitter-icon {
	margin-top: 50px;
}

#twitter-feed p.lead {
	font-weight: 400;
	margin-top: 7px;
	color: #fff;
}

#twitter-feed a {
	color: white;
	font-weight: 600;
}

#tweet-slider {
	position: relative;
}

#twitter-feed p.lead:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 30px;
	margin: 0 auto;
	width: 145px;
	opacity: .5;
	left: 0px;
	right: 0px;
}

#twitter-feed .author-name {
	margin-top: 70px;
}

#twitter-feed .author-name p {
	color: #fff;
}

/* 8. Team */

#team {
	padding-top: 70px;
	padding-bottom: 100px;
	position: relative;
}

#team .team-stat {
	margin-top: 75px;
}

#team .team-stat h5:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 30px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 135px;
}

#team .team-stat p.lead {
	margin-top: 50px;
}

#team .team-stat h5 {
	color: #9e9e9e;
	margin-top: 5px;
	letter-spacing: 2px;
	margin-bottom: 0px;
}

#team  .team-filter-nav {
	margin: 60px auto 35px;
}

#team .team-filter-nav li {
	margin: 0px 5px;
}

#team .team-filter-nav li a {
	color: black;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 15px 20px 12px;
	border: 1px solid #eaeaea;
}

#team .team-filter-nav li a:hover,
#team .team-filter-nav li a.current {
	text-decoration: none;
	border: 1px solid #0eb2e7 !important;
}

#team .team-detail {
	margin-top: 30px;
}

#team .team-member {
	position: relative;
	display: table;
	width: 100%;
	border: 2px solid #eaeaea;
	overflow: hidden;
}

#team .item {
	padding: 0px 15px;
	margin: 0px 0px 30px;
	position: relative !important;
	border: 0px none;
	left: 0px !important;
	right: 0px !important;
	top: 0px !important;
	bottom: 0px !important;
}

#team .team-member2 {
	border: 2px solid #eaeaea;
	margin-bottom: 30px;
}

#team .team-member3 {
	border: 2px solid #eaeaea;
	margin-bottom: 30px;
}

#team .team-member4 {
	border: 2px solid #eaeaea;
	margin-bottom: 30px;
}

.team-img {
	width: 170px;
	height: 216px;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 777;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.team-img {
	position: relative;
}

.team-img:before {
	content: "";
	background: url(../../assets/img/icons/plus.png) no-repeat center center rgba(14,178,231,0.7);
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.team-member:hover .team-img:before {
	content: "";
	opacity: 1;
	visibility: visible;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#team .member-details {
	padding: 25px 40px 40px;
	padding-left: 0px;
	margin-left: 200px;
	font-size: .9em;
	color: #bcbcbc;
	font-weight: 500;
}

#team .member-details h4 {
	color: black;
	font-weight: bold;
	margin-top: 5px;
}

#team .member-details h4:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 17px;
	left: 0px;
	right: 0px;
	margin: 0;
	width: 50px;
}

#team .member-details p {
	margin-top: 15px;
}

#team .member-social {
	position: absolute;
	display: inline-block;
	padding: 16px;
	padding-right: 0px;
	width: 100%;
	left: 0px;
	bottom: 0px;
	font-size: .9em;
	border-top: 2px solid #eaeaea;
	margin-top: 15px;
	padding-left: 200px;
	height: 47px;
}

#team .member-social h6 {
	color: black;
	margin-top: 2px;
	margin-left: 0px;
	font-weight: 600;
	letter-spacing: 0px;
}

#team .member-social ul.social {
	margin-top: -35px;
	position: relative;
	left: 0px;
}

#team .member-social ul.social li {
	margin-right: 0px;
	margin-top: 4px;
	border-left: 1px solid #fff;
}

#team .member-social ul.social li a {
	color: #c1c1c1;
	width: 50px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	display: table;
	position: relative;
	margin-right: -3px;
	margin-top: 0px;
	font-size: 15px;
}

#team .member-social ul.social li a:hover {
	color: #ffffff;
	background: #07ccf0;
	text-decoration: none;
}

#team ul.inline-list > li {
	margin: 0px;
	padding: 0px;
}

#team .pagination-section .pagination {
	margin: 0px 20px;
}

#team .pagination-section .pagination > li:first-child > a, .pagination > li:first-child > span {
	border-radius: 0px;
}

#team .pagination-section .pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 0px;
}

#team .pagination-section .pagination > li > a {
	color: #9a9a9a;
	margin-right: 5px;
}

#team .pagination-section .pagination > li > a:hover,#team .pagination-section .pagination > li.active > a {
	color: #000000 !important;
	background: transparent !important;
	border: 1px solid #0eb2e7 !important;
}

#team .pagination-section p {
	color: #9a9a9a;
	font-family: 'Open sans','sans-serif';
}

#team .pagination-section p span {
	color: #000000;
}

/* 9. Jobs Section */

#job {
	background-color: #fafafa;
	padding-bottom: 50px;
}

#job .job-stat {
	margin-top: 75px;
}

#job .job-stat h5 {
	color: #9e9e9e;
	margin-bottom: 20px;
	margin-top: 5px;
}

#job .job-stat h5:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 20px;
	left: 0px;
	margin: 0;
	width: 130px;
}

#job .job-stat p {
	font-weight: 400;
	color: #9e9e9e;
}

#job .apply-btn {
	margin-top: 125px;
	border-radius: 0px;
	background-color: #0eb2e7;
	border: none;
	text-transform: uppercase;
	padding: 15px 25px;
	font-size: .9em;
	font-weight: 600;
}

#job .apply-btn:hover {
	opacity: .8;
}

.client-section {
	background: url(../img/general/job-background.jpg) no-repeat center;
	background-size: 120% auto;
}

.client-section .client-stat {
	margin: 100px auto;
	background-color: white;
	padding: 45px 20px 35px;
}

.client-section .client-stat h3:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 20px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 75px;
}

.client-section .client-stat h6 {
	color: #9e9e9e;
}

.client-section .client-stat p {
	margin-top: 40px;
	color: #9e9e9e;
}

/* 10. Pricing */

#pricing {
	padding-top: 0px;
	margin-top: 90px;
	padding-bottom: 150px;
}

#pricing .price-stat h5:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 30px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 135px;
}

#pricing .price-stat p.lead {
	margin-top: 50px;
}

#pricing .price-stat h5 {
	color: #9e9e9e;
}

.pricing-plans {
	position: relative;
	top: 50px;
}

.pricing-plans .plan {
	font-family: 'Open sans', 'sans-serif';
	list-style: none;
	margin: 0px;
	text-align: center;
	padding: 0;
	border: 1px solid #eaeaea;
}

.pricing-plans .plan li {
	padding: 20px;
	margin: 0px;
}

.pricing-plans .plan li.plan-name h1 {
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: white;
	font-family: Raleway;
	margin: 0px;
}

.pricing-plans .plan li.plan-name h6 {
	color: #9e9e9e;
	font-size: .8em;
}

.pricing-plans .plan li.plan-name {
	padding: 60px 15px;
	background: #2e2e2e;
}

.pricing-plans .plan li.plan-price {
	background: #13bef5;
	color: #ffffff;
	padding: 5px 0;
	font-size: 48px;
	font-weight: 300;
}

.pricing-plans .plan li.plan-action {
}

.pricing-plans .plan li.plan-price small {
	font-size: .6em;
	position: relative;
	bottom: 5px;
	right: 5px;
}

.pricing-plans .plan li.plan-price span.sup {
	font-size: 20px;
	position: relative;
	bottom: 25px;
}

.pricing-plans .plan li.plan-price span.sup:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #eaeaea;
	top: 25px;
	display: table;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 20px;
}

.pricing-plans .plan li.plan-price span.duration {
	font-size: .4em;
	position: relative;
	bottom: 5px;
	color: #eaeaea;
}

.plan-action .btn-plan {
	border: 1px solid #000;
	border-radius: 0px;
	padding: 10px 30px;
	color: #000;
	text-transform: uppercase;
	font-family: Raleway;
	font-size: 13px;
	font-weight: 500;
}

.plan-action .btn-plan:hover {
	border: 1px solid #0eb2e7;
}

/* 11. Services */

#services, #services4 {
	padding-bottom: 50px;
}

#services .service-bg, #services4 .service-bg {
	margin-top: 0px;
	background-color: #0eb2e7;
	color: white;
	height: 100%;
}

#services .services-stat, #services4 .services-stat {
	padding: 90px 0px 70px;
}

#services .services-stat h5, #services4 .services-stat h5 {
	color: #beefff;
	margin-bottom: 20px;
	margin-top: 5px;
}

#services .services-stat h5:after, #services4 .services-stat h5:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #beefff;
	opacity: .4;
	display: table;
	padding-top: 20px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 130px;
}

#services .services-stat p, #services4 .services-stat p {
	margin-top: 50px;
	font-weight: 400;
	color: #ffffff;
}

.services4 {
	padding-top: 0px !important;
}

#services .polygon, #services4 .polygon {
	position: absolute;
	top: 87%;
	left: 350px;
}

#services, #services4 {
	padding-top: 100px;
	background-color: #fafafa;
}

#services3 {
	background: #fff;
	padding-top: 80px;
}

#services3 .services-info3 img {
	display: table;
	margin: 0 auto -1px;
}

#services .services-info .icon, #services4 .services-info .icon {
	padding: 0px 5px 5px 0px;
	width: 41px;
	height: 41px;
	margin-right: 25px;
	margin-bottom: 50px;
}

#services .services-info .info-col, #services4 .services-info .info-col {
	position: relative;
	margin: 0;
	padding: 0px;
	text-align: left;
	padding-right: 10px;
}

#services .services-info .info-col h5,#services4 .services-info .info-col h5 {
	font-weight: bold;
	font-size: 16px;
}

#services .services-info .info-col h5:after, #services4 .services-info .info-col h5:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 15px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 50px;
}

#services .services-info .info-col p, #services4 .services-info .info-col p {
	margin-top: 15px;
	color: #9e9e9e;
	font-weight: 500;
}

#services2 {
	background: -moz-linear-gradient(left,  #0eb2e7 0%, #0c9ccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0eb2e7), color-stop(100%,#0c9ccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #0eb2e7 0%,#0c9ccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #0eb2e7 0%,#0c9ccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #0eb2e7 0%,#0c9ccc 100%); /* IE10+ */
	background: linear-gradient(to right,  #0eb2e7 0%,#0c9ccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0eb2e7', endColorstr='#0c9ccc',GradientType=1 ); /* IE6-9 */;
}

#services2 .services2-info {
	color: #fff;
	padding: 60px 30px !important;
}

#services2 .info-col h5 {
	font-weight: bold;
	font-size: 18px;
}

#services2 .icon {
	margin: 25px 0;
}

#services2 .info-col h5:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: rgba(255,255,255,0.4);
	display: table;
	padding-top: 15px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 50px;
}

#services2 .info-col p {
	margin-top: 15px;
	color: #fff;
	font-weight: 500;
}

.clr1 {background:#0eb2e7 !important;}
.clr2 {background:#0da6d9 !important;}
.clr3 {background:#0c9ccc !important;}

.no-opacity {
opacity:0 !important;
}

/* 12. Blog Section */

#blog {
	position: relative;
	padding-top: 80px;
	padding-bottom: 150px;
}

.blog-stat {
}

.blog-stat h5:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 30px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 135px;
}

.blog-stat p.lead {
	margin-top: 50px;
}

.blog-stat h5 {
	color: #9e9e9e;
	margin-top: 5px;
	letter-spacing: 2.5px;
}

#blog-posts {
	position: relative;
	top: 50px;
	padding-bottom: 20px;
}

#blog-posts .blog-post {
	border: 2px solid #eaeaea;
	height: 100%;
	padding-bottom: 0px;
}

#blog-posts .blog-post img.post-img {
	width: 100%;
}

.post-img {
	position: relative;
}

#blog-posts .blog-post img.ab-icon {
	position: absolute;
	bottom: -40px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
}

#blog-posts .blog-post .info-col {
	position: relative;
	text-align: center;
	margin: 50px 20px;
	padding: 0px;
	padding-right: 10px;
}

#blog-posts .blog-post .info-col a {
	color: black;
}

#blog-posts .blog-post .info-col a:hover {
	color: #0eb2e7;
}

#blog-posts .blog-post .info-col h5 {
	font-weight: 600;
	line-height: 25px;
	margin-top: 60px;
	font-size: 18px;
	letter-spacing: 0px;
}

#blog-posts .blog-post .info-col h5:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table-cell;
	padding-top: 15px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 50px;
}

#blog-posts .blog-post .info-col p {
	margin-top: 40px;
	color: #9e9e9e;
	font-weight: 500;
}

#blog-posts .blog-post {
	text-align: center;
}

#blog-posts .blog-post ul.post-nav {
	border-top: 2px solid #eaeaea;
	overflow: hidden;
	margin: 0px;
}

#blog-posts .blog-post ul.post-nav li {
	margin-right: 0px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: .8em;
	font-family: 'Open Sans',sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
}

#blog-posts .blog-post ul.post-nav li:nth-child(1) {
	border-right: 1px solid #eaeaea;
	padding-right: 40px;
}

#blog-posts .blog-post ul.post-nav li a {
	color: #43b8df;
}

/* 12.1. Related Posts */

#related-posts {
	position: relative;
	top: 150px;
	padding-bottom: 50px;
	background-color: #fafafa;
}

#related-posts .re-posts {
	margin-top: 70px;
}

#related-posts .re-posts h4 {
	font-weight: bold;
}

#related-posts .re-posts h4 a {
	color: #222;
}

#related-posts .re-posts h4 a:hover {
	color: #0eb2e7;
}

#related-posts .re-posts h4:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 18px;
	left: 0px;
	margin: 0;
	width: 50px;
}

#related-posts .re-posts .info-col {
	position: relative;
	text-align: left;
	margin: 20px 0px;
	padding: 0px;
	padding-right: 10px;
}

#related-posts .re-posts .info-col img {
	padding: 0px 5px 20px 0px;
}

#related-posts .re-posts .info-col h6 {
	margin-bottom: 10px;
	letter-spacing: 1px;
	font-weight: 600;
	left: 20px;
	font-size: .9em;
	position: relative;
}

#related-posts .re-posts .info-col h6 a {
	color: #292929;
}

#related-posts .re-posts .info-col h6 a:hover {
	color: #0eb2e7;
}

#related-posts .re-posts .info-col p {
	left: 20px;
	position: relative;
	font-size: 12px;
	top: 5px;
	color: #9e9e9e;
}

#related-posts .re-posts .info-col ul.post-nav {
	overflow: hidden;
	margin-left: 90px;
}

#related-posts .re-posts .info-col ul.post-nav li {
	margin-right: 0px;
	padding: 10px;
	text-transform: uppercase;
	font-size: .8em;
	font-family: 'Open sans','sans-serif';
	letter-spacing: .5px;
	font-weight: 600;
}

#related-posts .re-posts .info-col ul.post-nav li a {
	color: #43b8df;
}

/* 13. Footer / 1 */

#foot-links {
	background: #1f2229 url(../img/general/footlink-bg.jpg) no-repeat center;
	background-size: auto 100%;
	position: relative;
	padding: 60px 0 70px;
	color: white;
}

#foot-links .footer-nav {
	margin-top: 30px;
}

#foot-links .footer-nav p {
	color: #9e9e9e;
	font-weight: 500;
}

#foot-links .footer-nav .link-list li {
	margin-bottom: 15px;
}

#foot-links .footer-nav hr {
	border-color: #e6e6e6;
	opacity: .1;
}

#foot-links .footer-nav .link-list li a {
	color: white;
}

#foot-links .footer-nav .link-list li a:hover {
	text-decoration: none;
	color: #0eb2e7;
}

/* 14. Contact */

#contact {
	position: relative;
	padding-top: 40px;
	padding-bottom: 100px;
}

#contact .contact-stat {
	margin-top: 50px;
}

#contact .contact-stat h5:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 30px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 135px;
}

#contact .contact-stat p.lead {
	margin-top: 50px;
}

#contact .contact-stat h5 {
	color: #9e9e9e;
	margin-top: 5px;
	letter-spacing: 2px;
}

.info-col h4 {
	font-weight: bold;
	line-height: 25px;
	letter-spacing: 1px;
	margin-top: 30px;
}

#contact .info-col h4:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 15px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 50px;
}

#contact .info-col .contact-time {
	margin-top: 40px;
	color: #9e9e9e;
	font-weight: 500;
}

#contact .info-col .phone {
	color: #0eb2e7;
	font-weight: 500;
	font-family: 'Open sans','sans-serif';
	margin-top: -10px;
}

#contact .info-col .clinic-add {
	margin-top: 40px;
	color: #9e9e9e;
	font-weight: 500;
	font-family: 'Open Sans','sans-serif';
}

#contact .info-col .contact-email {
	margin-top: 40px;
	color: #9e9e9e;
	font-weight: 500;
}

#contact .info-col .email {
	color: #0eb2e7;
	font-weight: 500;
	font-family: 'Open sans','sans-serif';
	margin-top: -10px;
}

#contact .info-col .email a {
	color: #0eb2e7;
}

#g-map {
	background: #fff;
	height: 835px;
	padding: 0px;
	position: relative;
}

#g-map .app-form {
/*     position:absolute;
    left:100px; */
	position: absolute;
	top: 0px;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #EEE;
	border: 1px solid #000;
	border-radius: 0;
	border-left: none !important;
}

.hpref {
	padding: 0px;
	display: table;
	width: 100%;
}

.hpref li {
	float: left;
	list-style: none;
	margin-right: 5%;
	width: 30%;
}

.hpref li:last-child {
	margin-right: 0px;
}

.landing-wrap {
	overflow:hidden;
}

.landing-left {
	background: url(../../assets/img/landing-bg.png);
	height:1080px;
}

.landing-right {
	background:url(../../assets/img/slider/slide1.jpg) no-repeat top right;
	background-size:auto 100%; 
	position:relative; 
	overflow:hidden;
	height:1080px;
}

.hpref li a {
	padding: 0px 25px;
	height: 40px;
	line-height: 40px;
	display: table;
	width: 100%;
	text-transform: uppercase;
	border: 1px solid #e0e0e0;
	font-size: 13px;
	text-align: center;
	color: #000;
}

.hpref li.active a {
	background: #0eb2e7;
	border-color: #0eb2e7 !important;
	color: #fff !important;
}

#g-map .app-form h4 {
	font-weight: 600;
	margin: 20px 0px;
}

#g-map .app-form p {
	margin-bottom: 20px;
	color: #9e9e9e;
}

#g-map .app-form label {
	font-weight: 600;
	font-size: .9em;
	letter-spacing: 1px;
}

#g-map .app-form .form-control {
	border-radius: 0;
}

#g-map .app-form .submit-box {
	padding: 20px 30px 0px 30px;
}

/* 15. Footer / 2 */

#foot-log {
	background: url(../img/general/foot-bg.jpg) repeat-x top right;
	padding-bottom: 0px;
	position: relative;
	margin-top: -45px;
	padding: 40px;
}

#foot-log .copy-social {
	position: relative;
	top: 60px;
	padding: 50px;
}

#foot-log .copy-social p {
	padding: 30px 0px;
}

#foot-log .copy-social p a {
	letter-spacing: 2px;
	color: black;
}

#foot-log .copy-social p a:hover {
	color: #0eb2e7;
}

#foot-log .copy-social .social {
	padding: 20px;
}

#foot-log .copy-social .social li {
/*     border:1px solid #eaeaea; */
/*     padding:10px; */;
}

#foot-log .copy-social .social li a {
	color: #000;
	font-size: .8em;
	border: 2px solid #eaeaea;
	padding: 20px 15px 15px 15px;
}

#foot-log .copy-social .social li a:hover {
	color: #0eb2e7;
	border: 2px solid #0eb2e7;
}

a {
	outline: 0;
}

a:hover,a:active,a:focus,a:visited {
	text-decoration: none;
	outline: 0;
}

#container {
	width: 100%;
	height: 100%;
}

#map-canvas {
	height: 100%;
}

#projects {
	padding-top: 70px;
	background: #fafafa;
}

.projects-wrap {
	padding: 0px;
}

.projects-wrap li {
	width: 25%;
	float: left;
	list-style: none;
	position: relative;
}

.overlay {
	background: rgba(14,178,231,0.8);
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
	width: 0%;
	height: 0%;
	margin: 0 auto;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.overlay h4 {
	font-family: Open sans;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
}

.overlay h4 span {
	display: block;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
}

.overlay h4:after {
	content: " ";
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: rgba(255,255,255,0.6);
	display: table;
	padding-top: 12px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 60px;
}

.overlay .comments {
	font-family: Open sans;
	font-size: 13px;
	text-align: center;
	font-weight: 300;
	color: #FFF;
	display: table;
	margin: 12px auto;
}

.overlay a {
	font-family: Open Sans;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	color: #fff;
	border: 2px solid #fff;
	display: table;
	margin: 0 auto;
	padding: 6px 20px;
	font-family: Raleway;
}

.overlay a:hover {
	background: #fff;
	color: #0eb2e7;
}

.overlay-inner {
	display: table-cell;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	vertical-align: middle;
	height: 138px;
}

.projects-wrap li:hover .overlay {
	opacity: 1;
	top: 0px;
	width: 100%;
	height: 100%;
	visibility: visible;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.appointment-form {
	border: 1px solid #e0e0e0;
	padding: 50px 50px 0;
	background: #fff;
	margin-top: 64px;
}

.input-group-addon {
	border: 1px solid #e0e0e0;
	color: #cccccc;
}

.appointment-form label {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #666;
}

.appointment-form input {
	width: 100%;
	bordeR: 1px solid #e0e0e0;
	height: 40px;
	padding: 0 15px;
	font-size: 13px;
	font-weight: 400;
	color: #000;
	margin-bottom: 20px;
	font-family: Open sans;
	display: table-cell;
}

.appointment-form textarea {
	width: 100%;
	bordeR: 1px solid #e0e0e0;
	padding: 0 15px;
	font-size: 13px;
	font-weight: 400;
	color: #000;
	margin-bottom: 20px;
	font-family: Open sans;
	display: table-cell;
}

.appointment-form input.form-control {
	border-radius: 0px;
	box-shadow: 0px;
}

.cbox span {
	font-family: Open sans;
	font-size: 13px;
}

.space20 {
	margin-bottom: 20px;
}

.cbox input {
	display: table;
	float: left;
	margin-right: 12px;
	height: auto;
	width: 15px;
}

.appointment-form button {
	background: #0EB2E7;
	color: #FFF;
	border: medium none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 15px;
	display: table;
	width: 100%;
	text-align: center;
	position: relative;
	top: -10px;
}

.submit-wrap {
	background: #fafafa;
	padding: 40px 35px 15px;
	margin: 15px -50px 0;
	border-top: 1px solid #e0e0e0;
}

.appointment-form h4 {
	font-weight: 600;
	margin: 0 0 16px 0px;
	font-size: 16px;
}

.appointment-form p {
	margin-bottom: 30px;
	color: #9e9e9e;
}

#doctor-info {
	padding-top: 30px;
}

#doctor-info .services-info {
	padding: 50px 10px 0;
}

#doctor-info .services-info .icon {
	padding: 0px 5px 5px 0px;
	width: 41px;
	height: 41px;
	margin-right: 25px;
	margin-bottom: 50px;
}

#doctor-info .services-info .info-col {
	position: relative;
	margin: 0;
	padding: 0px;
	text-align: left;
	padding-right: 10px;
}

#doctor-info .services-info .info-col h5 {
	font-weight: bold;
	font-size: 16px;
}

#doctor-info .services-info .info-col h5:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 15px;
	left: 0px;
	right: 0px;
	margin: 0;
	width: 50px;
}

#doctor-info .services-info .info-col p {
	margin-top: 15px;
	color: #9e9e9e;
	font-weight: 500;
}

#doctor-info {
	background: url(../../assets/img/doctor.png) no-repeat right bottom;
	padding-bottom: 100px;
	padding-top: 50px;
	background-size: 100% auto;
}

#services .service2-right .info-col, #services4 .service2-right .info-col {
	position: relative;
	margin: 0;
	padding: 0px;
	text-align: right !important;
	padding-right: 10px;
}

#services .service2-right .info-col h5, #services4 .service2-right .info-col h5 {
	font-weight: bold;
	font-size: 16px;
}

#services .service2-right .info-col h5:after, #services4 .service2-right .info-col h5:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 15px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 50px;
}

.s2-right h5 {
	margin-bottom: 35px !important;
}

.s2-right h5:after {
	content: " ";
	position: absolute !important;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 15px;
	right: 90px !important;
	left: auto !important;
	margin: 0 0 !important;
	width: 50px;
}

#services .service2-right .info-col p, #services4 .service2-right .info-col p {
	margin-top: 15px;
	color: #9e9e9e;
	font-weight: 500;
}

#services .service2-right .icon, #services4 .service2-right .icon {
	padding: 0px 5px 5px 0px;
	width: 41px;
	height: 41px;
	margin-left: 25px;
	margin-bottom: 50px;
}

.landing-left .title {
	font-size: 30px;
	margin-top: 60px;
	text-transform: uppercase;
	color: #fff;
}

.landing-left h6 {
	font-size: 14px;
	margin-top: 5px;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 300;
	position: relative;
	margin-bottom: 22px;
}

.landing-left h6:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 25px;
	left: 0px;
	right: 0px;
	margin: 0;
	width: 70px;
	opacity: 0.5;
}

.landing-left p {
	font-size: 24px;
	color: #fff;
	line-height: 36px;
}

.landing-left p.small {
	font-size: 13px;
	color: #fff;
	line-height: 2px;
	line-height: 22px;
	margin: 25px 0 45px;
}

.copy {
	font-size: 14px !important;
	margin: 35px 0;
	text-align: center;
	color: #fff !important;
}

.back-to-home {
	background: #03b4ea;
	color: #FFF;
	text-transform: uppercase;
	font-size: 13px;
	padding: 15px 30px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 50px;
	height: 51px;
	width: 200px;
	text-align: center;
	margin: auto;
}

.video-bg-overlay {
	background-color: rgba(19,190,244,0.6);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.video-bg {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 1;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	/*padding-top: 30px;*/
	height: 0;
	overflow: hidden;
	background: #000;
	margin-top: -5%;
}

.video-container iframe,.video-container object,.video-container embed {
	position: absolute;
	top: -11.5%;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}

.video-container1 {
	position: relative;
	padding-bottom: 56.25%;
	/*padding-top: 30px;*/
	height: 0;
	overflow: hidden;
	background: #000;
}

.video-container1 iframe,.video-container1 object,.video-container1 embed {
	position: absolute;
	top: -11.5%;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}

#blog-content .top-header .top-navigation .top-nav li a {
	color: #fff;
}

#home-video .top-header .top-navigation .top-nav li a {
	color: #fff;
}

.page-head {
	background: #fafafa;
	padding: 40px 0;
	margin-bottom: 40px;
}

.page-head h4 {
	margin: 0px;
	font-family: Raleway;
	font-size: 30px;
	color: #000;
}

.page-head h5 {
	margin: 0px;
	font-family: Open Sans;
	font-size: 14px;
	color: #9e9e9e;
}

.search input {
	border: 1px solid #e6e6e6;
	height: 40px;
	font-size: 12px;
	width: 100%;
	padding: 15px;
	background: #fff url(../../assets/img/search.png) no-repeat right center;
	background-position: 95% 50%;
}

.gallery-list {
	padding: 0px;
	margin: 0 -5px;
	display: table;
}

.gallery-list li {
	float: left;
	width: 25%;
	padding: 5px;
	list-style: none;
}

.post-meta {
	font-family: Open Sans;
	font-size: 13px;
	color: #9e9e9e;
	margin-bottom: 50px;
	display: table;
	position: relative;
}

.post-meta:before {
	content: '';
	width: 40px;
	height: 3px;
	background: #e6e6e6;
	position: absolute;
	bottom: -25px;
	left: 0px;
}

.blog-content article h4 {
	margin-top: 25px;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0px;
	color: #292929;
}

.blog-content article h4 a {
	color: #292929;
}

.blog-content article h4 a:hover, .blog-content .post-meta a {
	color: #0eb2e7;
}

.blog-content article p {
	font-family: Open Sans;
	font-size: 13px;
	color: #9e9e9e;
}

.r-more {
	margin-top: 30px;
	border-radius: 0px;
	background-color: #fff;
	border: none;
	text-transform: uppercase;
	padding: 11px 25px 8px;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1.5px;
	color: #292929;
	display: table;
	border: 2px solid #e6e6e6;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.r-more:hover {
	background-color: #0eb2e7;
	color: #fff;
	border: 2px solid #0eb2e7;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.blog-content article {
	padding-bottom: 33px;
	border-bottom: 2px solid #f2f2f2;
	margin-bottom: 45px;
}

.post-quote h4 {
	color: #292929;
	font-size: 24px !important;
	padding: 50px 50px;
	text-transform: none;
	font-weight: 400 !important;
	line-height: 36px;
	background: #f7f7f7 url(../../assets/img/quote.png) no-repeat top right;
}

.blog-content article.post-quote h4:hover {
	color: #292929;
}

.post-quote .post-meta {
	margin-bottom: 0px !important;
}

.post-quote .post-meta:before {
	display: none !important;
}

.page-nav {
}

.page-nav ul {
	padding: 0px;
	display: table;
	margin: -15px auto 0;
	margin-bottom: 100px;
}

.page-nav ul li {
	float: left;
	margin-left: 10px;
	border: 2px solid #e6e6e6;
	color: #292929;
	list-style: none;
	font-weight: 700;
}

.page-nav ul li a {
	color: #292929;
	width: 37px;
	height: 37px;
	font-size: 14px;
	text-align: center;
	line-height: 35px;
	display: table;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.page-nav ul lihover {
	border: 2px solid #0eb2e7;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.page-nav ul li:hover a {
	background-color: #0eb2e7;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.side-content {
	margin-bottom: 60px;
}

.side-content h5 {
	font-weight: bold;
	text-transform: uppercase;
	color: #292929;
	font-size: 16px;
	letter-spacing: 1px;
	position: relative;
	margin-bottom: 46px;
}

.side-content h5:before {
	content: '';
	width: 50px;
	height: 3px;
	background: #e6e6e6;
	position: absolute;
	bottom: -23px;
	left: 0px;
}

.cat {
	padding: 0px;
}

.cat li {
	list-style: none;
	padding-bottom: 16px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 16px;
}

.cat li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}

.cat li img {
	float: left;
}

.cat li h4 {
	font-size: 15px;
	text-transform: none;
	font-family: Open Sans;
	font-weight: 700;
	margin: 0px 0px 5px;
	margin-left: 70px;
	letter-spacing: 0px;
}

.cat li p {
	margin-left: 70px;
	color: #9e9e9e;
	font-size: 12px;
	font-family: Open Sans;
	line-height: 20px;
	margin-bottom: 0px;
}

.list1 {
	padding: 0px;
}

.list1 li {
	list-style: none;
	padding-bottom: 16px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 16px;
}

.list1 li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}

.list1 li a {
	font-size: 13px;
	color: #23c4f8;
	width: 100%;
	font-family: Open Sans;
}

.list1 li a span {
	font-size: 13px;
	color: #9e9e9e;
	float: right;
	text-align: right;
}

.list1 li a:hover {
	color: #aaa;
}

.side-newsletter input {
	width: 100%;
	font-family: Open Sans;
	color: #000;
	font-size: 12px;
	height: 40px;
	padding: 5px 15px;
	border: 1px solid #e6e6e6;
	background: url(../../assets/img/plus.png) no-repeat right center;
	background-position: 95% 51%;
}

.rposts {
	padding: 0px;
}

.rposts li {
	list-style: none;
	padding-bottom: 16px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 16px;
	font-family: Open Sans;
}

.rposts li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}

.rposts li img {
	width: 60px;
	float: left;
}

.rposts li h6 {
	font-size: 13px;
	color: #292929;
	font-weight: 600;
	letter-spacing: 0px;
	text-transform: none;
	margin: 0px 0px 4px;
	line-height: 20px;
	margin-left: 85px;
}

.rposts li h6 a {
	color: #292929;
}

.rposts li h6 a:hover {
	color: #23c4f8;
}

.rposts li span {
	color: #9e9e9e;
	font-size: 13px;
	margin-left: 25px;
}

.tags-list {
	padding: 0px;
}

.tags-list li {
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
	list-style: none;
}

.tags-list li a {
	line-height: 28px;
	color: #fff;
	display: table;
	padding: 0 16px;
	background: #292929;
	font-family: Open Sans;
	font-size: 12px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.tags-list li a:hover {
	background: #00a1db;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.page-head .post-meta {
	margin-bottom: 0px;
}

.page-head .post-meta:before {
	display: none !important;
}

.page-head h3 {
	margin: 0px;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 0px;
	color: #292929;
}

.page-head .post-meta a {
	color: #0eb2e7;
}

article .bold {
	font-size: 16px !important;
	color: #292929 !important;
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 600;
}

article .post-quote h4 {
	color: #292929;
	font-size: 16px !important;
	letter-spacing: 0px;
	padding: 35px 45px;
	margin: 0px;
	text-transform: none;
	font-weight: 400 !important;
	line-height: 30px;
	background: #f7f7f7 url(../../assets/img/quote.png) no-repeat top right;
}

.sharepost {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin: 60px 0 45px;
	padding: 20px 0 0px;
	display: table;
	width: 100%;
}

.sharepost h4 {
	margin: 0px !important;
	font-size: 16px !important;
	letter-spacing: 1px !important;
	color: #292929;
}

.sharepost ul {
	padding: 0px;
	display: table;
	float: right;
	position: relative;
	top: -5px;
}

.sharepost ul li {
	float: left;
	margin-left: 22px;
	list-style: none;
}

.sharepost ul li a {
	color: #646464;
	font-size: 18px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.sharepost ul li a:hover {
	color: #0eb2e7;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.author-info img {
	float: left;
}

.author-info h5 {
	margin-left: 130px;
	font-size: 16px;
	color: #292929;
	font-weight: 600 !important;
	position: relative;
	margin-bottom: 30px;
}

.author-info h5:before {
	content: '';
	width: 50px;
	height: 3px;
	background: #e6e6e6;
	position: absolute;
	bottom: -15px;
	left: 0px;
}

.author-info h5 em {
	color: #b2b2b2;
	font-style: normal;
}

.author-info p {
	margin-left: 130px;
}

.comments h4 {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin: -40px 0 45px;
	padding: 20px 0 20px;
	display: table;
	width: 100%;
	font-size: 16px !important;
	letter-spacing: 1px !important;
	color: #292929;
	font-weight: 700;
}

.related-posts h5 {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin: 60px 0 45px;
	padding: 20px 0 20px;
	display: table;
	width: 100%;
	font-size: 16px !important;
	letter-spacing: 1px !important;
	color: #292929;
	font-weight: 700;
}

.related-posts ul {
	padding: 0px;
	margin-top: -25px;
}

.related-posts ul li {
	width: 33.3333%;
	padding: 0 15px;
	float: left;
	list-style: none;
}

.related-posts h4 {
	font-size: 16px !important;
	margin: 10px 0 0px;
	color: #292929;
	line-height: 20px;
}

.related-posts .post-meta {
	margin-bottom: 32px;
}

.related-posts .post-meta:before {
	content: '';
	bottom: -16px;
}

.comments ul {
	padding: 0px;
}

.comments ul li {
	list-style: none;
	padding-bottom: 40px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 40px;
	font-family: Open Sans;
	display: table;
	width: 100%;
}

.comments ul li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}

.comments ul li h6 {
	letter-spacing: 0px;
	font-size: 15px;
	color: #292929;
	font-weight: bold;
	position: relative;
	margin-bottom: 36px;
}

.comments ul li h6:before {
	content: '';
	width: 50px;
	height: 3px;
	background: #e6e6e6;
	position: absolute;
	bottom: -18px;
	left: 0px;
}

.comments ul li h6 span {
	font-size: 13px;
	color: #9e9e9e;
	font-weight: normal;
	text-transform: none;
}

.comments ul li h6 em {
	font-style: normal;
	font-size: 13px;
	color: #9e9e9e;
	font-weight: normal;
	float: right;
	text-transform: none;
}

.comments ul li h6 a {
	color: #0eb2e7;
}

.comments ul li h6 a:hover {
	color: #777;
}

.comments ul li img {
	width: 100px;
	float: left;
}

.comments-info {
	margin-left: 130px;
}

.comment-form {
	margin-bottom: 90px;
}

.comment-form h4 {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin: 40px 0 30px;
	padding: 20px 0 20px;
	display: table;
	width: 100%;
	font-size: 16px !important;
	letter-spacing: 1px !important;
	color: #292929;
	font-weight: 700;
}

#comment-form input {
	height: 40px;
	border: 1px solid #e6e6e6;
	padding: 10px 15px;
	color: #000;
	font-size: 12px;
	width: 100%;
	margin-bottom: 18px;
	font-family: Open sans;
	font-weight: 400;
}

#comment-form textarea {
	border: 1px solid #e6e6e6;
	padding: 15px;
	color: #000;
	font-size: 12px;
	width: 100%;
	margin-bottom: 18px;
	font-family: Open sans;
	font-weight: 400;
}

#comment-form button {
	border-radius: 0px;
	background-color: #0eb2e7;
	border: none;
	text-transform: uppercase;
	padding: 13px 25px;
	font-size: .9em;
	font-weight: 600;
	color: #fff;
	float: right;
	position: relative;
	top: -6px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#comment-form button:hover {
	opacity: .8;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.footer2 {
	background: url(../../assets/img/texture/2.jpg) repeat center top;
	background-size: auto 100%;
	padding: 40px 0;
}

.footer2 img {
	display: table;
	margin: 0 auto;
}

.footer2-bottom {
	padding: 45px 0 35px;
	position: relative;
}

.footer2-bottom p {
	color: #9e9e9e;
	font-size: 13px;
}

.footer2-bottom p b {
	color: #292929;
}

.footer-social {
	padding: 0px;
	display: table;
	float: right;
	position: relative;
	top: -5px;
}

.footer-social li {
	float: left;
	margin-left: 22px;
	list-style: none;
}

.footer-social li a {
	color: #646464;
	font-size: 18px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.footer-social li a:hover {
	color: #0eb2e7;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.bttop {
	width: 40px;
	height: 40px;
	position: absolute;
	margin: 0 auto;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.dark-overlay {
	background: rgba(0,0,0,0.9);
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.about3 {
	background: url(../../assets/img/parallax-bg.jpg) no-repeat fixed center center !important;
	padding-bottom: 90px !important;
}

.about3 h2 {
	color: #fff;
}

.about3 h5 {
	color: #fff;
	margin-bottom: 20px;
	margin-top: 5px;
}

.about3 .information h5 {
	color: #FFF;
	margin-bottom: 20px;
	margin-top: -20px;
	font-size: 18px;
	font-weight: 600 !important;
}

.about3 h5:after {
	content: " ";
	border-bottom-color: rgba(255,255,255,0.2) !important;
}

.about3 p.lead {
	color: #b3c4cf;
	line-height: 36px;
	font-weight: 400 !important;
	font-size: 24px;
}

.about3 .icon {
	padding: 23px !important;
	width: 85px !important;
	height: 85px !important;
	display;table;
	background: #31393f;
	border-radius: 50%;
	margin-right: 25px;
	margin-bottom: 50px;
}

.about3 .information .text-center:hover .icon {
	background: #03b4ea;
	cursor: pointer;
}

.about3 .information p {
	padding: 0 7%;
	color: #b3c4cf !important;
}

#r-skills {
	background-color: #fafafa;
	padding: 70px 0;
	position: relative;
}

#r-skills h5:after {
	content: " ";
	position: absolute;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 30px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 135px;
}

#r-skills  h5 {
	color: #9E9E9E;
	margin-top: 5px;
	letter-spacing: 3px;
	font-size: 14px;
}

#r-skills p.lead {
	margin-top: 40px;
}

.big-bg {
	display: table;
	margin: 0 auto;
	padding: 20px 0;
}

#r-skills .information {
	margin-top: 40px;
}

#r-skills .information .icon {
	padding: 0px 7px 5px 0px;
	width: 41px;
	height: 41px;
	margin-right: 25px;
	margin-bottom: 50px;
}

#r-skills .information .info-col {
	position: relative;
	margin: 0;
	padding: 0px;
	text-align: left;
	padding-right: 10px;
}

#r-skills .information .info-col {
	text-align: center !important;
}

#r-skills .information .info-col h5 {
	font-weight: 600;
	color: #292929;
	font-size: 17px;
	letter-spacing: 1.2px;
}

#r-skills .information .info-col h5:after {
	content: " ";
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5e5e5;
	display: table;
	padding-top: 15px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 50px;
}

#r-skills .information .info-col p {
	margin-top: 5px;
	color: #9e9e9e;
	font-weight: 500;
	font-size: 13px;
	line-height: 24px;
}

.skill-count-25 {
	width: 101px;
	height: 101px;
	background: url(../../assets/img/skills/25.png) no-repeat;
	margin: 0 auto 20px;
	display: table;
	line-height: 101px;
	text-align: center;
	font-size: 24px;
	font-family: Open sans;
	font-weight: 600;
	color: #292929;
}

.skill-count-75 {
	width: 101px;
	height: 101px;
	background: url(../../assets/img/skills/75.png) no-repeat;
	margin: 0 auto 20px;
	display: table;
	line-height: 101px;
	text-align: center;
	font-size: 24px;
	font-family: Open sans;
	font-weight: 600;
	color: #292929;
}

.inner-content {
	background: url(../../assets/img/bg/2.jpg) no-repeat center center;
	background-size:auto 100%;
	padding: 100px 0;
	margin-bottom: -11px;
}

.inner-content-inner {
	height: 235px;
	background: url(../../assets/img/icons/ic.png) no-repeat center center;
	padding: 60px 0px 0px;
}

.inner-content-inner h5 {
	color: #00a4d9;
	font-size: 16px;
	letter-spacing: 4px;
	text-align: center;
	margin: 0px 0px 8px;
}

.inner-content-inner h3 {
	color: #fff;
	font-size: 60px;
	letter-spacing: 4px;
	text-align: center;
	margin: 0px 0px -7px;
}

.inner-content-inner h4 {
	color: #fff;
	font-size: 14px;
	letter-spacing: 4px;
	text-align: center;
	margin: 0pxpx;
}

.inner-content-inner h4 span {
	color: #00a4d9;
	font-size: 24px;
	letter-spacing: 4px;
	text-align: center;
}

.clients-wrap {
	background: url(../../assets/img/parallax-bg.jpg) no-repeat fixed center center !important;
	padding: 90px 0 !important;
}

.clients-wrap h2 {
	color: #fff;
}

.clients-wrap h5 {
	color: #fff;
	margin-bottom: 20px;
	margin-top: 5px;
}

.clients-wrap h5:after {
	content: " ";
	border-bottom-color: rgba(255,255,255,0.2) !important;
}

.clients-wrap p.lead {
	color: #b3c4cf;
	line-height: 36px;
	font-weight: 400 !important;
	font-size: 24px;
}

#owl-clients {
	position: relative !important;
	display: table !important;
	width: 100% !important;
	max-width: 1170px !important;
	overflow: hidden;
}

#owl-clients .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 1170px;
}

#owl-clients .item img {
	display: table;
	margin: 0 auto;
	padding: 0 15px;
	cursor: pointer;
	opacity: 0.5;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#owl-clients .item img:hover {
	opacity: 1;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

body.modal-open {
	overflow: visible;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000050;
	border-radius: 0px;
}

.modal-dialog {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 5% !important;
	margin: 0 auto;
	width: 970px;
	min-height: 632px;
}

.modal-content {
	min-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0px;
}

.modal-body {
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: hidden;
	width: 100%;
	padding: 0px;
	height: 100%;
}

.modal-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.team-pop-info {
	padding: 30px 60px 30px 15px !important;
	min-height: 632px;
}

.team-pop-info h4 {
	color: #292929;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 24px;
	position: relative;
	margin: 5px 0px 50px;
}

.team-pop-info h4 span {
	color: #9e9e9e;
	font-size: 13px;
	display: block;
}

.team-pop-info h4:before {
	content: "";
	width: 50px;
	height: 3px;
	background: #e6e6e6;
	position: absolute;
	bottom: -25px;
	left: 0px;
}

.team-pop-info p {
	font-size: 13px;
	color: #9e9e9e;
	margin: 0px;
}

.tp-meta {
	margin: 32px 0;
	padding: 0px;
}

.tp-meta li {
	list-style: none;
	border-bottom: 1px solid #e6e6e6;
	padding: 16px 10px;
}

.tp-meta li:first-child {
	border-top: 1px solid #e6e6e6;
}

.tp-meta li span {
	font-size: 13px;
	color: #292929;
	font-weight: 700;
	text-transform: uppercase;
	width: 50%;
	display: inline-block;
}

.tp-meta li em {
	font-style: normal;
	color: #9e9e9e;
	font-weight: 400;
	font-family: Open sans;
}

.tp-social {
	border-top: 1px solid #e6e6e6;
	height: 45px;
	margin: 0px;
	position: absolute;
	width: 104%;
	right: 0px;
	left: 12px;
	bottom: 0px;
	margin-left: -30px;
	padding-left: 22px;
	line-height: 45px;
}

.no-padding {
	padding: 0px !important;
}

.tp-social span {
	font-size: 13px;
	color: #292929;
	font-weight: 700;
	text-transform: uppercase;
	width: 50%;
	display: inline-block;
}

.tp-social ul {
	padding: 0px;
	display: table;
	float: right;
}

.tp-social ul li {
	float: left;
	list-style: none;
}

.tp-social ul li a {
	width: 50px;
	height: 45px;
	display: table;
	border-left: 1px solid #e6e6e6;
	color: #c1c1c1;
	text-align: center;
	line-height: 45px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.tp-social ul li a:hover {
	background: #07ccf0;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.m-close {
	width: 14px;
	height: 14px;
	background: url(../../assets/img/icons/close.png) no-repeat center;
	border: medium none;
	position: absolute;
	right: 25px;
	top: 25px;
}

.m-close:hover {
	background: url(../../assets/img/icons/close-hr.png) no-repeat center;
}

.s2-info  .info-col h5:after {
	right: auto !important;
	left: 0px;
	margin: 0px !important;
}

.owl-theme .owl-controls {
	margin-top: 9px;
	text-align: center;
	z-index: 0;
	position: relative;
	left: 10px;
}

#map {
	width: 100%;
	height: 835px;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}

.full-white {
	background: #fff !important;
}

.full-gray {
	background: #fafafa !important;
	margin-bottom: -20px;
}

.full-white .mission-stat h5:after {
	width: 70px !important;
}

/* Note: Design for larger screens */
@media only screen and (min-width: 1400px) and (max-width: 2700px) {

.clients-wrap {
	background: url(../../assets/img/bg/1.jpg) repeat fixed center center !important;
}

.bg-slider-home {
	background: url(../../assets/img/texture/1.jpg) repeat-x right;
	background-size: auto 100%;
}

.bg-plx img {
	width:100%;
}

#owl-clients .owl-wrapper-outer {
	width: 100%;
	max-width: 1200px;
}

}

/* Note: Design for larger screens */
@media only screen and (min-width: 1700px) and (max-width: 3500px) {

.landing-left {
	height:1600px !important;
	padding:230px 0;
}

.landing-right {
	height:1600px !important;
	background-position: 64% 0 !important;
}

.fixed-bottom {
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	background:#fff;
}

}

/* Note: Design for larger screens */
@media only screen and (min-width: 768px) and (max-width: 959px) {

.main-navigation .main-nav li a {
	font-size: 0.8em;
	padding: 0px 16px 29px;
}

}


/* Note: Design for larger screens */
@media only screen and (min-width: 208px) and (max-width: 767px) {

#job .apply-btn {
    margin-right: -40px;
}

#services .services-info .info-col p, #services4 .services-info .info-col p {
    padding-left: 65px;
}

#services .services-info .info-col, #services4 .services-info .info-col {
    margin: 0px 0px 35px;
}

.team-img {
    width: 100%;
    height: auto;
    float: none;
	display:block;
    position: relative;
    overflow: hidden;
}

.team-img img {
    width: 100% !important;
    height: auto;
}

#team .member-details {
    padding: 25px 40px 40px 0px;
    margin-left: 0px;
    font-size: 0.9em;
    color: #BCBCBC;
    font-weight: 500;
}

#team .team-member {
    width: 100% !important;
    height: auto !important;
    margin-left: 0px;
    top: 10px;
    margin-bottom: 30px;
}

#team .member-social h6 {
display:none;
}

.projects-wrap li {
    width: 100%;
    float: left;
    list-style: none outside none;
    position: relative;
}

.appointment-form {
    padding: 50px 20px 0px;
}

.hpref li {
    float: lnone;
    margin-right: 0;
	margin-bottom:10px;
    width: 100%;
}

.appointment-form button {
    position: relative;
    top: 0px;
	margin-top:20px;
}

#doctor-info .services-info .info-col p {
    padding-left: 65px;
}

.services4 .info-col p {
    display: table;
    padding: 0px !important;
}

#twitter-feed {
    height: auto !important;
}

#twitter-feed .video-container1 {
    padding-bottom: 160%;
}

#twitter-feed .video-container1 iframe, #twitter-feed .video-container1 object, #twitter-feed .video-container1 embed {
    height: 500%;
    top: -162%;
    width: 500%;
    border:none;
}

.footer2-bottom p {
    text-align: center;
}

.footer-social {
    padding: 0px;
    display: table;
    float: none;
    position: relative;
    top: 0px;
    margin: 0 auto;
}

#time-plan .owl-prev {
    margin: -17px -1px 0px -139px;
}

ul.doctor-list {
    width: 100%;
    margin-bottom: 40px !important;
}

.modal-dialog {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 5% !important;
    margin: 0px auto;
    width: 87%;
    min-height: 525px;
}

.team-pop-info p {
    display: none;
}

.tp-meta {
    margin: 32px 0px;
    padding: 0px;
    display: none;
}

.team-pop-info {
    padding: 30px 20px 30px 20px !important;
    min-height: 200px;
}

.tp-social span {
    display: none;
}

.tp-social {
    margin: -30px auto 0px auto;
}

#g-map {
    overflow: hidden;
}

.home2 #g-map {
    height: 1150px;
}

.home2 #map {
	width: 100%;
	height: 1150px;
}

.idark #bg-slider-home {
	width: 100%;
	padding:0 20px;
	height: 500px;
}

.idark .main-slider-image1 {
	top: 20%;
	width: 100%;
	background-size: 100%;
}

.idark .main-slider-caption1 h2 {
    font-size: 40px;
    margin: 20px 0;
    font-weight: bold;
}

.inner-content-inner h5 {
    font-size: 9px;
	margin-top:20px;
}

.inner-content-inner h3 {
    font-size: 29px;
}

.inner-content-inner h4 {
    font-size: 7px;
}

}


/* Note: Design for larger screens */
@media only screen and (min-width: 500px) and (max-width: 767px) {

.projects-wrap li {
    width: 50%;
    float: left;
    list-style: none outside none;
    position: relative;
}

}