/* Template Name: Zehen - Responsive Landing Page Template
   Author: Themesdesign
   Version: 1.0.0
   Created: Feb 2019
   File Description: Main Css file of the template
*/
/****************************************\

01.general
02.helper
03.components
04.menu
05.home
06.features
07.services
08.cta
09.pricing
10.client
11.blog
12.contact
13.footer
14.responsive

*****************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Work+Sans:400,500,600");
body {
  font-family: "Roboto", sans-serif;
  color: #282828 !important;
  font-size: 14px;
  background-color: #d6d6d6;
}

.wrapper {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

p {
  line-height: 1.8;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.vertical-content {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bg-overlay {
  background: url(../images/overlay.png);
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  background-color: #282828;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-16 {
  font-size: 16px;
}

.f-17 {
  font-size: 17px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.line-height_1_4 {
  line-height: 1.4;
}

.line-height_1_6 {
  line-height: 1.6;
}

.line-height_1_8 {
  line-height: 1.8;
}

.read-more {
  color: #f55753;
  font-weight: 500;
}

.read-more:hover {
  color: #f55753;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.read-more i {
  font-size: 16px;
  position: relative;
  top: 2px;
}

.title-heading {
  font-size: 28px;
}

.title-desc {
  max-width: 600px;
  margin: 0 auto;
}

.bg-custom {
  background-color: #f55753;
}

.bg-light {
  background-color: #f3f8fa !important;
}

.text-custom {
  color: #f55753 !important;
}

.text-muted {
  color: #7b798a !important;
}

.btn {
  padding: 12px 24px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-sm {
  padding: 10px 20px;
}

.btn-round {
  border-radius: 4px !important;
}

.btn-rounded {
  border-radius: 30px !important;
}

.btn-custom {
  color: #ffffff;
  border-radius: 0px;
  background-color: #f55753;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.open > .dropdown-toggle .btn-custom {
  color: #ffffff;
  background-color: #f55753;
}

.btn-white {
  color: #282828;
  background-color: #ffffff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.btn-white.focus,
.btn-white:active,
.open > .dropdown-toggle .btn-white {
  color: #282828;
  background-color: #ffffff;
}

.btn-outline {
  color: #f55753;
  border: 1px solid #f55753;
  border-radius: 0px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active,
.btn-outline.focus,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover,
.open > .dropdown-toggle .btn-outline {
  outline: none;
  border: 1px solid #f55753;
  background-color: #f55753;
  color: #ffffff;
}

.navbar-custom {
  padding: 30px 0px;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}

.navbar-custom .navbar-nav li a {
  font-family: "Work Sans", sans-serif;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent !important;
  padding: 6px 0;
  margin: 0 10px;
  font-weight: 500;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #282828;
}

.logo .logo-light {
  display: inline-block;
}

.logo .logo-dark {
  display: none;
}

.nav-sticky .logo .logo-dark {
  display: inline-block;
}

.nav-sticky .logo .logo-light {
  display: none;
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
  color: #ffffff !important;
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #337ab7;
}

.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  font-size: 18px;
  background: 0 0;
  border: 1px solid transparent;
  color: #ffffff;
  outline: 0;
}

.navbar-custom .navbar-toggles-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.menu-toggle {
  padding: 4.5px 10px !important;
}

.menu-toggle span {
  line-height: 27px;
}

.navbar-button {
  margin-left: 20px;
}

/*---NAVBAR STICKY--*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 20px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 33px rgba(140, 140, 140, 0.1);
          box-shadow: 0 10px 33px rgba(140, 140, 140, 0.1);
  color: #000 !important;
}

.nav-sticky.navbar-custom.sticky-dark {
  background-color: #ffffff;
}

.nav-sticky .logo {
  color: #282828 !important;
}

.nav-sticky .navbar-nav li a {
  color: #282828 !important;
}

.nav-sticky.navbar-custom .navbar-nav li.active a,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:active {
  color: #f55753 !important;
}

.nav-sticky.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  border: 1px solid transparent;
  outline: 0;
}

.nav-sticky .navbar-nav {
  margin-top: 0px;
}

.bg-home {
  background: #1e2433;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 250px 0 250px 0;
}

.bg-home-title {
  background: #1e2433;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 50px 0 50px 0;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.home-content {
  position: relative;
  z-index: 9;
}

.home-title {
  font-size: 42px;
  color: #ffffff;
  max-width: 630px;
  margin: 0 auto;
}

.home-button span {
  position: relative;
  top: 8px;
  color: #ffffff;
}

.home-title-3 {
  font-size: 36px;
  color: #ffffff;
  margin: 0 auto;
}

.slidero {
  position: relative;
  z-index: 1;
}

.bg-home-4 {
  background: #1e2433;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
}

.bg-home-5 {
  background: #1e2433;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 250px 0px 250px 0px;
}

.subscribe input {
  padding: 14px 20px;
  width: 100%;
  font-size: 18px;
  color: #282828 !important;
  border: none;
  outline: none !important;
  padding-right: 180px;
  padding-left: 30px;
  background-color: #ffffff;
  border-radius: 30px;
}

.subscribe button {
  position: absolute;
  top: 5px;
  right: 6px;
  outline: none !important;
  border-radius: 30px;
  font-size: 17px;
  padding: 9px 30px;
}

.subscribe form {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.bg-home-6 {
  background: #1e2433;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 270px 0px 270px 0px;
}

.home-title-6 {
  font-size: 36px;
  color: #ffffff;
}

.bg-home-7 {
  background: #1e2433;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 270px 0px 270px 0px;
}

/* flexdemo */
.flex-control-paging li a {
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
          box-shadow: 0 0 0 0 #ffffff;
  height: 12px;
  width: 12px;
  opacity: 1;
  border: 2px solid #ffffff !important;
  background: #ffffff;
}

.flex-control-paging li a:hover {
  background: #ffffff;
}

.main-slider .flex-control-paging li a.flex-active {
  background-color: transparent;
}

.flex-control-nav {
  bottom: -70px;
}

.bg-home-8 {
  background: #1e2433;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 250px 0px 250px 0px;
}

.home-title-9 {
  font-size: 46px;
  color: #ffffff;
  max-width: 500px;
}

.home-registration-form {
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px 0px #d2d2d2;
          box-shadow: 0px 0px 3px 0px #d2d2d2;
  width: 600px;
}

.home-registration-form .registration-form label {
  font-size: 13px;
}

.registration-form .registration-input-box {
  border: none;
  border-radius: 5px;
  color: #999;
  height: 45px;
  border: 1px solid #e0e0e0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.card {
  border: none;
  background: #ffffff;
}

.collapse.show {
  background: #ffffff;
}

.card-header {
  background-color: transparent;
  border: none;
}

.card-header h5 {
  font-size: 16px;
  color: #282828;
}

.accordion .card:last-of-type {
  border-bottom: none;
}

.services-box {
  padding: 15px;
}

.services-icon i {
  font-size: 30px;
}

.bg-cta {
  background-image: url(../images/bg-cta.jpg);
  background-size: cover;
  position: relative;
  background-position: center center;
}

.price-box {
  padding: 40px 30px;
  border: 2px solid #f7f7f9;
}

.plan-price {
  margin: 20px -30px;
  padding: 20px 0px 10px 0px;
  position: relative;
  background-color: #f3f8fa;
}

.plan-price h1 span {
  font-size: 16px;
}

.plan-price span {
  font-size: 15px;
  color: #282828;
  font-weight: 400;
}

.plan-price h2 {
  font-size: 40px;
}

.price-features i {
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  border-radius: 50%;
  margin-right: 20px;
  color: #f55753;
  background-color: rgba(245, 87, 83, 0.1);
}

.pricing-name span {
  font-size: 13px;
}

.plan-price .dolar {
  color: #282828;
  font-size: 20px;
  display: inline-block;
  -webkit-transform: translateY(-20px) translateX(5px);
          transform: translateY(-20px) translateX(5px);
}

.client-img img {
  width: 90px;
}

.client-icon i {
  display: block;
  height: 50px;
  width: 50px;
  font-size: 30px;
  line-height: 50px;
  background-color: #f55753;
  color: #ffffff;
  margin: 0 auto;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 5px;
  margin: 7px 7px;
  border: 1px solid #f55753;
  background-color: #f55753;
}

.client-position {
  font-weight: 500;
}

.client-txt {
  font-size: 16px;
}

.client-logo {
  background-color: #222939;
}

.blog-title a {
  color: #282828;
}

.blog-title a:hover {
  color: #f55753;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-box {
  -webkit-box-shadow: 0 2px 2px rgba(10, 16, 20, 0.16), 0 0 2px rgba(10, 16, 20, 0.01);
          box-shadow: 0 2px 2px rgba(10, 16, 20, 0.16), 0 0 2px rgba(10, 16, 20, 0.01);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

textarea.form-control {
  height: auto !important;
}

.error {
  margin: 8px 0px;
  display: none;
  color: #ea553d;
}

#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #ea553d;
  background-color: rgba(234, 85, 61, 0.15);
}

.contact-loader {
  display: none;
}

#success_page {
  text-align: center;
  margin-bottom: 50px;
}

.custom-form .form-control {
  height: 44px;
  border: 1px solid #eef1f2;
  font-size: 14px;
  background-color: #ffffff;
  padding-left: 20px;
}

.custom-form .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.footer {
  padding : 20px 0 20px 0;
}
.footer-title {
  color: #ffffff;
  letter-spacing: 1px;
}

.footer-link a {
  color: #7b798a;
  line-height: 36px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #f55753;
}

.footer-social a {
  text-align: center;
  color: #1e2433;
  display: block;
  width: 36px;
  height: 36px;
  background: #7b798a;
  line-height: 36px;
  font-size: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-social a:hover {
  color: #ffffff;
  background: #f55753;
}

.footer-alt {
  color: #ffffff;
}

@media (min-width: 200px) and (max-width: 768px) {
  .navbar-custom {
    margin-top: 0px;
    padding: 15px 0px !important;
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
    color: #ffffff !important;
  }
  .navbar-custom .navbar-nav {
    margin-top: 0px;
  }
  .navbar-custom .navbar-nav li.active {
    border-color: transparent;
  }
  .navbar-custom .navbar-nav li a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #282828 !important;
    margin: 0px;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .navbar-custom .navbar-nav li.active a,
  .navbar-custom .navbar-nav li a:hover,
  .navbar-custom .navbar-nav li a:active {
    color: #f55753 !important;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #282828;
  }
  .navbar-button {
    margin-top: 15px;
    margin-left: 0px;
  }
  .logo .logo-light {
    display: none;
  }
  .logo .logo-dark {
    display: inline-block;
  }
  .home-title {
    font-size: 26px;
  }
  .home-button span {
    display: none !important;
  }
}

/* custom css */

.breadcrumb {
	background: transparent;
	margin-top: 5px;
}

.breadcrumb li {
	color: #fff;
	font-size: 13px;
	letter-spacing: 2px;
}

.breadcrumb li a {
	color: #fff;
}

.breadcrumb > .active {
	color: #f55753;
}


/*# sourceMappingURL=style.css.map */