.navbar-default{
		background-color: transparent;
	}
    .navbar-header {
    	background-color: #ffffff;
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-default .navbar-collapse, 
    .navbar-default .navbar-form{
    	border-color:#f1f2f7;
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav{
    	background-color: #ffffff;
        float: none!important;
		margin: 0!important;
    	padding: 2px 0;
	}
	.navbar-nav>li {
        float: none;
        border-bottom: 1px solid #f1f2f7;
    }
    .navbar-nav>li:last-child {
    	border-bottom: 0px solid transparent;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-nav>li>a:after {
    	height: 0 !important;
    }
    .collapse.in {
  		display:block !important;
	}
	.navbar-toggle {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.container>.navbar-header, 
	.container-fluid>.navbar-header, 
	.container>.navbar-collapse, 
	.container-fluid>.navbar-collapse {
		margin-left: -15px;
		margin-right: -15px;
	}
	.navbar>.container .navbar-brand, 
	.navbar>.container-fluid .navbar-brand {
		margin-left:0;
	}
	.navbar-default .navbar-toggle, 
	.navbar-default .navbar-toggle {
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus {
		background-color: transparent;
		color: #1fb5ac;
	}
	.navbar-default .navbar-toggle {
		border-color: transparent;
		font-size: 2em;
		line-height: 25px;
	}
	.navbar-collapse.in {
		overflow-y: auto!important;
		background:#ffffff;
	}
	
	.navbar-nav>li .sub-menu,
	.navbar-nav>li .sub-menu>li .sub-menu {
		overflow: visible;
		position: relative;
		display: none;
		padding-left: 20px;
		top: inherit;
		left: inherit;
		min-width: 100%;
		height:auto;
		opacity: 1;
		z-index: 1;
	}
	.navbar-nav>li:hover .sub-menu,
	.navbar-nav>li .sub-menu>li:hover .sub-menu{
		width: 100%;
		left: inherit;
		top: inherit;
	}
	.navbar-nav>li.menu-item-has-children:before ,
	.sub-menu>li.menu-item-has-children:before{
		content: ""!important;
	}
	.navbar-nav>li .sub-menu>li>a {
		line-height: 20px;
		padding: 10px 15px; 
		background: inherit !important;
		border-top:1px solid #f1f2f7 !important;
		color: #262626;
	}
	.navbar-nav>li .sub-menu>li>a:hover {
		color: #1fb5ac;
		background: inherit !important;
	}
	.toggle_nav_button{
		display: block;
		color: #FFF;
		font-size: 28px;
		background-color: #1fb5ac;
		line-height: 20px;
		text-align: center;
		position: absolute;
		top: 0;
		right: 15px;
		left: inherit;
		margin-left: 0px;
		border: 0;
		padding: 10px;
		width: 42px;
		height: 42px;
		z-index: 100;
		cursor: pointer;
	}
	.sub-menu .toggle_nav_button{
		right: 40px;
	}