.slicknav_menu {
	display:none;
}
/*
    Mobile Menu Core Style
    */

    .slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
    .slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
    .slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
    .slicknav_menu .slicknav_no-text { margin: 0 }
    .slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
    .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
    .slicknav_nav { clear: both }
    .slicknav_nav ul,
    .slicknav_nav li { display: block }
    .slicknav_nav .slicknav_arrow {
    	font-size: 0.8em; 
    	margin: 0 0 0 0.4em; 
    	position: absolute;
    	right: 15px;

    }
    .slicknav_nav .slicknav_item { cursor: pointer; }
    .slicknav_nav .slicknav_row { display: block; }
    .slicknav_nav a { display: block }
    .slicknav_nav .slicknav_item a,
    .slicknav_nav .slicknav_parent-link a { display: inline }
    .slicknav_menu:before,
    .slicknav_menu:after { content: " "; display: table; }
    .slicknav_menu:after { clear: both }
    /* IE6/7 support */
    .slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
    */

    .slicknav_menu {
    	font-size:16px;
    }
    /* Button */
    .slicknav_btn {
    	margin: 20px 15px;
    	text-decoration:none;
    	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
    }
    /* Button Lines */
    .slicknav_menu .slicknav_icon-bar {
    	background-color: #000000;
    }
    .slicknav_menu {
    	background:#ffffff;
    }
    .slicknav_nav {
    	color:#fff;
    	margin:0;
    	padding:0;
    	font-size:0.94em;
    }
    .slicknav_nav, .slicknav_nav ul {
    	list-style: none;
    	overflow:hidden;
    }
    .slicknav_nav ul {
    	padding:0;
    	margin:0 0 0 20px;
    }
    .slicknav_nav .slicknav_row {
    	padding:5px 10px;
    	margin:2px 5px;
    }
    .slicknav_nav a {
    	display: block;
    	padding: 10px 15px;
    	text-decoration: none;
    	font-weight: 600;
    	text-transform: uppercase;
    }
        .slicknav_nav a:hover {
        	color: #16a085;
        }
    .slicknav_nav .slicknav_item a,
    .slicknav_nav .slicknav_parent-link a {
    	padding:0;
    	margin:0;
    }
    .slicknav_nav .slicknav_txtnode {
    	margin-left:15px;   
    }

    /*---------- Main Menu -----------*/

    #main-menu {
    	background-color: #ffffff;
    	box-shadow: 0px 0px 5px #0e0e0e;
    	max-height: 100px;
    }
    .site-logo {
    	display: inline-block;
    	padding: 32px 0px;
    }
    .menu .site-logo {
    	display: none;
    }
    .menu li{
    	position: relative;
    }
    .menu li>a {
    	color: #0e0e0e;
    	display: inline-block;
    	font-family: 'Open Sans';
    	font-size: .93em;
    	font-weight: 600;
    	padding: 40px 23px;
    	position: relative;
    	text-transform: uppercase;
    	letter-spacing: .3px;
    }
    .menu li>a:hover,
    .menu li.active a,
    .menu li.active a:hover,
    .menu li.active a:focus {
    	background-color: transparent;
    	color: #16a085;
    }
    .menu li.menu-item-has-children>a:after{
    	height: 0!important;
    }
    .menu li .sub-menu,
    .menu li .sub-menu>li>a,
    .menu li .sub-menu>li .sub-menu {
    	-webkit-transition: all .25s ease;
    	-moz-transition: all .25s ease;
    	-ms-transition: all .25s ease;
    	-o-transition: all .25s ease;
    	transition: all .25s ease;
    }
    .menu li .sub-menu{
    	position: absolute;
    	list-style: none;
    	padding: 0;
    	top: 130%;
    	left: -15px;
    	min-width: 170px;
    	height:0;
    	overflow: hidden;
    	opacity: 0;
    	z-index: 999;
    }
    .menu li:hover .sub-menu {
    	height: auto;
    	opacity: 1;
    	overflow: visible;
    	top: 100%;
    }
    .menu li .sub-menu>li>a {
    	background-color: #16a085;
    	color: #ffffff;
    	display: inline-block;
    	font-size: .93em;
    	padding: 15px 15px;
    	text-transform: uppercase;
    	min-width: 100%;
    	line-height: 25px;
    }
    .menu li .sub-menu>li>a:hover {
    	background-color: #1CB194;
    	color: #ffffff;
    } 
    .menu li .sub-menu>li {
    	display: block;
    	position: relative;
    }
    .menu li .sub-menu>li .sub-menu {
    	position: absolute;
    	list-style: none;
    	padding: 0;
    	top: 0;
    	left: 130%;
    	width: 0;
    	height:auto;
    	opacity: 0;
    }
    .menu li .sub-menu>li:hover .sub-menu {
    	opacity: 1;
    	overflow: visible;
    	width: 160px;
    	left: 100%;
    }
    .toggle_nav_button {
    	display: none;
    }
    .menu li>a,
    .mini-nav,
    .mini-nav .navbar-brand,
    .cd-header-buttons {
    	-webkit-transition: all .25s ease;
    	-moz-transition: all .25s ease;
    	-ms-transition: all .25s ease;
    	-o-transition: all .25s ease;
    	transition: all .25s ease;
    }

    .cd-header-buttons {
    	-webkit-transition: all .25s ease;
    	-moz-transition: all .25s ease;
    	-ms-transition: all .25s ease;
    	-o-transition: all .25s ease;
    	transition: all .25s ease;
    }

    input[type="search"]::-ms-clear {
    	display: none;
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
    	display: none;
    }
    .cd-header-buttons {
    	float: right;
    	padding-top: 29px;
    	width: 60px;
    	text-align: right;
    }
    .cd-search-trigger, .cd-nav-trigger {
    	position: relative;
    	font-size: .875em;
    	display: block;
    	width: 30px;
    	height: 44px;
    	overflow: hidden;
    	white-space: nowrap;
    	color: #656565;
    	z-index: 3;
    }
    .cd-search-trigger::before {
    	content: "\f002";
    	top: 11px;
    	left: 11px;
    	width: 18px;
    	height: 18px;
    	font-family: FontAwesome;
    	position: absolute;
    	color: #0e0e0e;
    }
    .cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
    	opacity: 1;
    }
    .cd-search-trigger.search-is-visible span::before {
    	-webkit-transform: rotate(135deg);
    	-moz-transform: rotate(135deg);
    	-ms-transform: rotate(135deg);
    	-o-transform: rotate(135deg);
    	transform: rotate(135deg);
    }
    .cd-search-trigger.search-is-visible span::after {
    	-webkit-transform: rotate(45deg);
    	-moz-transform: rotate(45deg);
    	-ms-transform: rotate(45deg);
    	-o-transform: rotate(45deg);
    	transform: rotate(45deg);
    }
    .cd-search {
    	background-color: #1fb5ac;
    	position: absolute;
    	width: 100%;
    	top: 100px;
    	left: 0;
    	padding: 20px 7%;
    	z-index: 3;
    	opacity: 0;
    	visibility: hidden;
    	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
    	-moz-transition: opacity .3s 0s, visibility 0s .3s;
    	-ms-transition: opacity .3s 0s, visibility 0s .3s;
    	-o-transition: opacity .3s 0s, visibility 0s .3s;
    	transition: opacity .3s 0s, visibility 0s .3s;
    }
    .cd-search form {
    	height: 100%;
    	width: 100%;
    	position: relative;
    }
    .cd-search form .close {
    	position: absolute;
    	top: 15%;
    	right: 15px;
    	color: #000000;
    }
    .cd-search input {
    	border-radius: 0;
    	border: none;
    	background: #ffffff;
    	color: #0e0e0e;
    	font-size: 1.1em;
    	font-style: italic;
    	font-weight: 300;
    	height: 100%;
    	width: 100%;
    	padding: 15px 15px;
    	-webkit-appearance: none;
    	-moz-appearance: none;
    	-ms-appearance: none;
    	-o-appearance: none;
    	appearance: none;
    }
    .cd-search input::-webkit-input-placeholder {
    	color: #c9cbc4;
    }
    .cd-search input::-moz-placeholder {
    	color: #c9cbc4;
    }
    .cd-search input:-moz-placeholder {
    	color: #c9cbc4;
    }
    .cd-search input:-ms-input-placeholder {
    	color: #c9cbc4;
    }
    .cd-search input:focus {
    	outline: none;
    }
    .cd-search.is-visible {
    	color: #1fb5ac;
    	opacity: 1;
    	visibility: visible;
    	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
    	-moz-transition: opacity .3s 0s, visibility 0s 0s;
    	transition: opacity .3s 0s, visibility 0s 0s;
    }
    .no-js .cd-search {
    	position: relative;
    	top: 0;
    	opacity: 1;
    	visibility: visible;
    }
    .search-is-visible:before {
    	color: #1fb5ac;
    }

    .mini-nav .site-logo {
    	padding: 17px 0px;
    }
    .mini-nav .menu li>a {
    	padding: 25px 23px;
    }
    .mini-nav .menu li .sub-menu {
    	left: 0px;
    }
    .mini-nav .cd-header-buttons {
    	padding-top: 15px;
    }
    .mini-nav .cd-search {
    	top: 70px;
    }
