
/* To make Responsive
---------------------------------------------------------------------- /
*
*  1 - media screen and (max-width: 992px)
*  2 - media screen and (max-width: 800px)
*  3 - media screen and (max-width: 768px)
*  4 - media screen and (max-width: 640px)
*  5 - media screen and (max-width: 500px)
*  6 - media screen and (max-width: 480px)
*  7 - media screen and (max-width: 320px)
*  8 - media screen and (max-width: 1170px)
*
---------------------------------------------------------------------- */

@media screen and (min-width: 1920px) {
	.main-slider {
		height: 855px;
	}
}


@media screen and (min-width: 1440px) and (max-width: 1480px) {
	.main-slider {
		max-height: 820px !important;
	}
}


@media screen and (min-width: 1366px) and (max-width: 1440px) {
	.main-slider {
		max-height: 800px !important;
	}
}


@media screen and (min-width: 1366px) and (max-width: 1390px) {
	.main-slider {
		max-height: 780px !important;
	}
	.slider-title {
		padding-top: 25%;
	}
}


@media screen and (min-width: 1340px) and (max-width: 1360px) {
	.main-slider {
		max-height: 780px !important;
	}
	.slider-title {
		padding-top: 25% !important;
	}
} 


@media screen and (min-width: 1340px) and (max-width: 1350px) {
	.main-slider {
		max-height: 770px !important;
	}
	.slider-title {
		padding-top: 25% !important;
	}
} 

@media screen and (min-width: 1300px) and (max-width: 1339px) {
	.main-slider {
		max-height: 760px !important;
	}
	.slider-title {
		padding-top: 25% !important;
	}
} 

@media screen and (min-width: 1300px) and (max-width: 1320px) {
	.main-slider {
		max-height: 750px !important;
	}
	.slider-title {
		padding-top: 25% !important;
	}
} 


@media screen and (min-width: 1280px) and (max-width: 1299px) {
	.main-slider {
		max-height: 740px !important;
	}
	.slider-title {
		padding-top: 25% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em;
		padding: 80px 65px 65px 65px;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 130px !important;
		height: 130px !important;
	}
}


@media screen and (min-width: 1250px) and (max-width: 1279px) {
	.main-slider {
		max-height: 720px !important;
	}
	.slider-title {
		padding-top: 25% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em;
		padding: 80px 65px 65px 65px;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 130px !important;
		height: 130px !important;
	}
}

@media screen and (min-width: 1230px) and (max-width: 1249px) {
	.main-slider {
		max-height: 710px !important;
	}
	.slider-title {
		padding-top: 25% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em;
		padding: 80px 65px 65px 65px;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 130px !important;
		height: 130px !important;
	}
} 


@media screen and (min-width: 1200px) and (max-width: 1229px) {
	.section-area {
		padding: 100px 0px !important;
	}
	.main-slider {
		max-height: 690px !important;
	}
	.slider-title {
		padding-top: 20% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em;
		padding: 80px 65px 65px 65px;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 130px !important;
		height: 130px !important;
	}
}


@media screen and (min-width: 1170px) and (max-width: 1199px) {
	.section-area {
		padding: 100px 0px !important;
	}
	.main-slider {
		max-height: 680px !important;
	}
	.slider-title {
		padding-top: 20% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em;
		padding: 80px 65px 65px 65px;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 130px !important;
		height: 130px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 14px 20px 14px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px !important
	}
} 


@media screen and (min-width: 1130px) and (max-width: 1169px) {
	.section-area {
		padding: 90px 0px !important;
	}
	.main-slider {
		max-height: 650px !important;
	}
	.slider-title {
		padding-top: 20% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em !important;
		padding: 80px 65px 65px 65px !important;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 130px !important;
		height: 130px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 14px 20px 14px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px !important
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		margin-bottom: 75px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
} 

@media screen and (min-width: 1100px) and (max-width: 1129px) {
	.section-area {
		padding: 90px 0px !important;
	}
	.main-slider {
		max-height: 630px !important;
	}
	.slider-title {
		padding-top: 20% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em !important;
		padding: 80px 65px 65px 65px !important;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 110px !important;
		height: 110px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 14px 20px 14px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px !important
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		margin-bottom: 75px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 400px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
} 


@media screen and (min-width: 1040px) and (max-width: 1099px) {
	.section-area {
		padding: 90px 0px !important;
	}
	.main-slider {
		max-height: 600px !important;
	}
	.slider-title {
		padding-top: 20% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em !important;
		padding: 80px 65px 65px 65px !important;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 110px !important;
		height: 110px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 14px 20px 14px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px !important
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		margin-bottom: 75px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 400px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
} 


@media screen and (min-width: 992px) and (max-width: 1039px) {
	.section-area {
		padding: 70px 0px !important;
	}
	.main-slider {
		max-height: 570px !important;
	}
	.slider-title {
		padding-top: 20% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em !important;
		padding: 80px 65px 65px 65px !important;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 110px !important;
		height: 110px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 14px 20px 14px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px !important
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		margin-bottom: 75px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 400px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
} 


@media screen and (min-width: 960px) and (max-width: 991px) {
	.page-top {
		height: 70px !important;
	}
	.site-logo {
		padding: 17px 0px !important;
	}
	.menu>li>a {
		padding: 25px 13px !important;
	}
	.menu li .sub-menu>li>a {
		padding: 10px 15px !important;
	}
	.cd-search {
		padding: 10px 7% !important;
		top: 70px !important;
	}
	.cd-search input {
		font-size: .94em !important;
		padding: 10px 15px !important
	}
	.cd-header-buttons {
		padding-top: 15px !important;
		width: 30px !important;
	}
	.section-area {
		padding: 70px 0px !important;
	}
	.main-slider {
		max-height: 540px !important;
	}
	.slider-title {
		font-size: 3.06em !important;
		padding-top: 20% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em !important;
		padding: 80px 65px 65px 65px !important;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 26px 20px 25px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px !important
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		margin-bottom: 75px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 400px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
		padding-bottom: 20px;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		margin: 20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 70px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
} 


@media screen and (min-width: 900px) and (max-width: 959px) {
		.page-top {
		height: 70px !important;
	}
	.site-logo {
		padding: 17px 0px !important;
	}
	.menu>li>a {
		padding: 25px 13px !important;
	}
	.menu li .sub-menu>li>a {
		padding: 10px 15px !important;
	}
	.cd-search {
		padding: 10px 7% !important;
		top: 70px !important;
	}
	.cd-search input {
		font-size: .94em !important;
		padding: 10px 15px !important
	}
	.cd-header-buttons {
		padding-top: 15px !important;
		width: 30px !important;
	}
	.section-area {
		padding: 70px 0px !important;
	}
	.main-slider {
		max-height: 500px !important;
	}
	.slider-title {
		font-size: 3.06em !important;
		padding-top: 20% !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em !important;
		padding: 80px 65px 65px 65px !important;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 26px 20px 25px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px !important
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		margin-bottom: 75px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 400px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
		padding-bottom: 20px;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		margin: 20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 70px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: .875em !important;
	}
} 


@media screen and (min-width: 854px) and (max-width: 899px) {
	.page-top {
		height: 70px !important;
	}
	.site-logo {
		padding: 17px 0px !important;
	}
	.menu>li>a {
		padding: 25px 13px !important;
	}
	.menu li .sub-menu>li>a {
		padding: 10px 15px !important;
	}
	.cd-search {
		padding: 10px 7% !important;
		top: 70px !important;
	}
	.cd-search input {
		font-size: .94em !important;
		padding: 10px 15px !important
	}
	.cd-header-buttons {
		padding-top: 15px !important;
		width: 30px !important;
	}
	.section-area {
		padding: 70px 0px !important;
	}
	.main-slider {
		max-height: 480px !important;
	}
	.slider-title {
		font-size: 3.06em !important;
		padding-top: 20% !important;
	}
	.section-description {
		padding: 20px 0px 0px 0px !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em !important;
		padding: 80px 65px 65px 65px !important;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 26px 20px 25px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px !important
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		margin-bottom: 75px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 400px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
		padding-bottom: 20px;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		margin: 20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 70px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: .875em !important;
	}
} 


@media screen and (min-width: 800px) and (max-width: 853px) {
	.page-top {
		height: 70px !important;
	}
	.site-logo {
		padding: 17px 0px !important;
	}
	.menu>li>a {
		padding: 25px 13px !important;
	}
	.menu li .sub-menu>li>a {
		padding: 10px 15px !important;
	}
	.cd-search {
		padding: 10px 7% !important;
		top: 70px !important;
	}
	.cd-search input {
		font-size: .94em !important;
		padding: 10px 15px !important
	}
	.cd-header-buttons {
		padding-top: 15px !important;
		width: 30px !important;
	}
	.section-area {
		padding: 70px 0px !important;
	}
	.main-slider {
		max-height: 460px !important;
	}
	.slider-title {
		font-size: 3.06em !important;
		padding-top: 20% !important;
	}
	.section-description {
		padding: 20px 0px 0px 0px !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em !important;
		padding: 80px 65px 65px 65px !important;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 26px 20px 25px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px !important
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		margin-bottom: 75px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 400px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
		padding-bottom: 20px;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		margin: 20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 70px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: .875em !important;
	}
} 


@media screen and (min-width: 768px) and (max-width: 799px) {
	.page-top {
		height: 70px !important;
	}
	.site-logo {
		padding: 17px 0px !important;
	}
	.menu>li>a {
		padding: 25px 13px !important;
	}
	.menu li .sub-menu>li>a {
		padding: 10px 15px !important;
	}
	.cd-search {
		padding: 10px 7% !important;
		top: 70px !important;
	}
	.cd-search input {
		font-size: .94em !important;
		padding: 10px 15px !important
	}
	.cd-header-buttons {
		padding-top: 15px !important;
		width: 30px !important;
	}
	.section-area {
		padding: 50px 0px !important;
	}
	.main-slider {
		max-height: 440px !important;
	}
	.slider-title {
		font-size: 3.06em !important;
		padding-top: 20% !important;
	}
	.section-description {
		padding: 20px 0px 0px 0px !important;
	}
	blockquote.post-blockquote {
		font-size: 2.75em !important;
		padding: 80px 65px 65px 65px !important;
	}
	blockquote.post-blockquote:before {
		top: 65px !important;
		font-size: 2.75em !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 26px 20px 25px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px !important
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		font-size: 1.75em !important;
		margin-bottom: 50px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 370px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		margin: 20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 50px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: .875em !important;
	}
} 

@media screen and (max-width: 767px) {
	.page-top {
		height: 60px !important;
	}
	#main-menu {
		box-shadow: none;
		max-height: 60px;
		max-width: 200px;
	}
	.site-logo,
	.mini-nav .site-logo {
		padding: 15px 0px;
	}
	.cd-header-buttons,
	.cd-search input {
		display: none !important;
	}
	.js #menu {
		display:none;
	}
	.js .slicknav_menu {
		display: block;
		position: fixed;
		width: 100%;
		z-index: 1;
	}
	.style-switcher {
		display: none;
	}

}

@media screen and (min-width: 720px) and (max-width: 767px) {
	.section-area {
		padding: 50px 0px !important;
	}
	.main-slider {
		max-height: 400px !important;
	}
	.slider-title {
		font-size: 2.5em !important;
		padding-top: 20% !important;
		padding-bottom: 50px !important;
	}
	.main-slider .btn {
		padding: 12px 30px !important; 
	}
	.section-description {
		padding: 20px 0px 0px 0px !important;
	}
	blockquote.post-blockquote {
		font-size: 2em !important;
		line-height: 50px !important;
		padding: 30px !important;
	}
	blockquote.post-blockquote:before {
		left: 25px !important;
		top: 23px !important;
		font-size: 2em !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 20px !important;
	}
	.news-area .media-body {
		padding: 38px 20px 37px 20px !important;
		font-size: 1.15em;
	}
	.contact-bottom .item {
		padding: 0px 0px 30px 0px !important;
		text-align: center;
	}
	.contact-bottom .address-icon {
		display: inline-block;
		float: none !important;
	}
	.address-details .item-title {
		padding-top: 15px !important;
	}
	.contact-bottom .media-body {
		padding-left: 0px !important;
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		font-size: 1.75em !important;
		margin-bottom: 50px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 370px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		margin: 20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 50px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: 1em !important;
	}
	.news-image img {
		width: 100%;
	}
	.contact-bottom {
		padding: 50px 0px !important;
	}
	.post-container {
		padding-right: 0px !important;
	}
	.page-not-found {
		text-align: center;
	}
	.page-not-found h2 {
		padding-top: 30px;
	}
	.page-not-found .img-responsive {
		margin: 0 auto;
	}
} 


@media screen and (min-width: 668px) and (max-width: 719px) {
	.page-top {
		height: 60px !important;
	}
	#main-menu {
		max-height: 60px;
	}
	.section-area {
		padding: 50px 0px !important;
	}
	.main-slider {
		max-height: 370px !important;
	}
	.slider-title {
		font-size: 2.5em !important;
		padding-top: 20% !important;
		padding-bottom: 50px !important;
	}
	.main-slider .btn {
		padding: 8px 25px !important; 
	}
	.section-description {
		padding: 20px 0px 0px 0px !important;
	}
	blockquote.post-blockquote {
		font-size: 2em !important;
		line-height: 50px !important;
		padding: 30px !important;
	}
	blockquote.post-blockquote:before {
		left: 25px !important;
		top: 23px !important;
		font-size: 2em !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 20px !important;
	}
	.news-area .media-body {
		padding: 38px 20px 37px 20px !important;
		font-size: 1.15em;
	}
	.contact-bottom .item {
		padding: 0px 0px 30px 0px !important;
		text-align: center;
	}
	.contact-bottom .address-icon {
		display: inline-block;
		float: none !important;
	}
	.address-details .item-title {
		padding-top: 15px !important;
	}
	.contact-bottom .media-body {
		padding-left: 0px !important;
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		font-size: 1.75em !important;
		margin-bottom: 50px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 370px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		margin: 20px 10px !important;
	}
	.portfolioFilter a:before {
		right: -20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 50px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: 1em !important;
	}
	.news-image img {
		width: 100%;
	}
	.contact-bottom {
		padding: 50px 0px !important;
	}
	.post-container {
		padding-right: 0px !important;
	}
	.page-not-found {
		text-align: center;
	}
	.page-not-found h2 {
		padding-top: 30px;
	}
	.page-not-found .img-responsive {
		margin: 0 auto;
	}
} 


@media screen and (min-width: 640px) and (max-width: 667px) {
	.page-top {
		height: 60px !important;
	}
	#main-menu {
		max-height: 60px;
	}
	.section-area {
		padding: 50px 0px !important;
	}
	.main-slider {
		max-height: 350px !important;
	}
	.slider-title {
		font-size: 2.5em !important;
		padding-top: 20% !important;
		padding-bottom: 50px !important;
	}
	.main-slider .btn {
		padding: 8px 25px !important; 
	}
	.section-description {
		padding: 20px 0px 0px 0px !important;
	}
	blockquote.post-blockquote {
		font-size: 2em !important;
		line-height: 50px !important;
		padding: 30px !important;
	}
	blockquote.post-blockquote:before {
		left: 25px !important;
		top: 23px !important;
		font-size: 2em !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1.06em !important;
	}
	.news-area .media-left {
		padding: 15px 20px !important;
	}
	.news-area .media-body {
		padding: 38px 20px 37px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px 0px 30px 0px !important;
		text-align: center;
	}
	.contact-bottom .address-icon {
		display: inline-block;
		float: none !important;
	}
	.address-details .item-title {
		padding-top: 15px !important;
	}
	.contact-bottom .media-body {
		padding-left: 0px !important;
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		font-size: 1.75em !important;
		margin-bottom: 50px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 370px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		margin: 20px 10px !important;
	}
	.portfolioFilter a:before {
		right: -20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 50px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: 1em !important;
	}
	.news-image img {
		width: 100%;
	}
	.contact-bottom {
		padding: 50px 0px !important;
	}
	.post-container {
		padding-right: 0px !important;
	}
	.page-not-found {
		text-align: center;
	}
	.page-not-found h2 {
		padding-top: 30px;
	}
	.page-not-found .img-responsive {
		margin: 0 auto;
	}
} 



@media screen and (min-width: 600px) and (max-width: 639px) {
	.page-top {
		height: 60px !important;
	}
	.page-name {
		font-size: 2em !important;
	}
	#main-menu {
		max-height: 60px;
	}
	.section-area {
		padding: 50px 0px !important;
	}
	.main-slider {
		max-height: 340px !important;
	}
	.slider-title {
		font-size: 2.5em !important;
		padding-top: 20% !important;
		padding-bottom: 50px !important;
	}
	.main-slider .btn {
		padding: 8px 25px !important; 
	}
	.section-description {
		padding: 20px 0px 0px 0px !important;
	}
	blockquote.post-blockquote {
		font-size: 2em !important;
		line-height: 50px !important;
		padding: 30px !important;
	}
	blockquote.post-blockquote:before {
		left: 25px !important;
		top: 23px !important;
		font-size: 2em !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: 1em !important;
	}
	.news-area .media-left {
		padding: 15px 20px !important;
	}
	.news-area .media-body {
		padding: 38px 20px 37px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px 0px 30px 0px !important;
		text-align: center;
	}
	.contact-bottom .address-icon {
		display: inline-block;
		float: none !important;
	}
	.address-details .item-title {
		padding-top: 15px !important;
	}
	.contact-bottom .media-body {
		padding-left: 0px !important;
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		font-size: 1.75em !important;
		margin-bottom: 50px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 350px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		font-size: .8em !important;
		margin: 20px 10px !important;
	}
	.portfolioFilter a:before {
		right: -20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 50px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: 1em !important;
	}
	.news-image img {
		width: 100%;
	}
	.contact-bottom {
		padding: 50px 0px !important;
	}
	.post-container {
		padding-right: 0px !important;
	}
	.page-not-found {
		text-align: center;
	}
	.page-not-found h2 {
		padding-top: 30px;
	}
	.page-not-found .img-responsive {
		margin: 0 auto;
	}
} 


@media screen and (min-width: 568px) and (max-width: 599px) {
	.page-top {
		height: 60px !important;
	}
	.page-name {
		font-size: 2em !important;
	}
	#main-menu {
		max-height: 60px;
	}
	.section-area {
		padding: 50px 0px !important;
	}
	.main-slider {
		max-height: 320px !important;
	}
	.slider-title {
		font-size: 2em !important;
		padding-top: 20% !important;
		padding-bottom: 50px !important;
	}
	.main-slider .btn {
		padding: 8px 25px !important; 
	}
	.head-title {
		font-size: 1.75em !important;
	}
	.section-description {
		font-size: .8em !important;
		line-height: 23px !important;
		padding: 20px 0px 0px 0px !important;
	}
	.item-icon {
		font-size: 2.25em !important;
		width: 100px !important;
		height: 100px !important;
		line-height: 100px !important;
	}
	.item-title {
		padding: 30px 0px 10px 0px !important;
	}
	.fact-details li {
		display: block !important;
		padding: 15px !important;
	}
	blockquote.post-blockquote {
		font-size: 2em !important;
		line-height: 50px !important;
		padding: 30px !important;
	}
	blockquote.post-blockquote:before {
		left: 25px !important;
		top: 23px !important;
		font-size: 2em !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: .94em !important;
	}
	.news-area .media-left {
		padding: 15px 20px !important;
	}
	.news-area .media-body {
		padding: 38px 20px 37px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px 0px 30px 0px !important;
		text-align: center;
	}
	.contact-bottom .address-icon {
		display: inline-block;
		float: none !important;
	}
	.address-details .item-title {
		padding-top: 15px !important;
	}
	.contact-bottom .media-body {
		padding-left: 0px !important;
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		font-size: 1.75em !important;
		margin-bottom: 50px !important
	}
	.entry-title {
		font-size: 1.5em !important;
	}
	.entry-content {
		padding: 20px 0px 20px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 350px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		font-size: .8em !important;
		margin: 20px 10px !important;
	}
	.portfolioFilter a:before {
		right: -20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 50px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: 1em !important;
	}
	.news-image img {
		width: 100%;
	}
	.contact-bottom {
		padding: 50px 0px !important;
	}
	.post-container {
		padding-right: 0px !important;
	}
	.page-not-found {
		text-align: center;
	}
	.page-not-found h2 {
		padding-top: 30px;
	}
	.page-not-found .img-responsive {
		margin: 0 auto;
	}
	.quote-slider blockquote {
		font-size: 1.25em !important;
		padding: 0px 0% 25px 0% !important;
	}
	.tweet-slider .tweet {
		padding: 0px !important;
	}
} 



@media screen and (min-width: 480px) and (max-width: 567px) {
	.page-top {
		height: 60px !important;
	}
	.page-name {
		font-size: 2em !important;
	}
	#main-menu {
		max-height: 60px;
	}
	.section-area {
		padding: 50px 0px !important;
	}
	.main-slider {
		max-height: 280px !important;
	}
	.slider-title {
		font-size: 1.75em !important;
		padding-top: 17% !important;
		padding-bottom: 50px !important;
	}
	.main-slider .btn {
		padding: 5px 15px !important; 
	}
	.head-title {
		font-size: 1.5em !important;
	}
	.section-description {
		font-size: .8em !important;
		line-height: 23px !important;
		padding: 20px 0px 0px 0px !important;
	}
	.item-icon {
		font-size: 2.25em !important;
		width: 100px !important;
		height: 100px !important;
		line-height: 100px !important;
	}
	.item-title {
		padding: 30px 0px 10px 0px !important;
	}
	.fact-details li {
		display: block !important;
		padding: 15px !important;
	}
	blockquote.post-blockquote {
		font-size: 1.5em !important;
		line-height: 35px !important;
		padding: 30px !important;
	}
	blockquote.post-blockquote:before {
		left: 25px !important;
		top: 23px !important;
		font-size: 2em !important;
	}
	.attachmentlink {
		font-size: 1.25em !important;
		padding: 30px !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.author-avatar {
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: .94em !important;
	}
	.news-area .media-left {
		padding: 15px 20px !important;
	}
	.news-area .media-body {
		padding: 26px 20px 25px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px 0px 30px 0px !important;
		text-align: center;
	}
	.contact-bottom .address-icon {
		display: inline-block;
		float: none !important;
	}
	.address-details .item-title {
		padding-top: 15px !important;
	}
	.contact-bottom .media-body {
		padding-left: 0px !important;
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		font-size: 1.75em !important;
		margin-bottom: 50px !important
	}
	.entry-title {
		font-size: 1em !important;
	}
	.entry-content {
		padding: 10px 0px 10px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 350px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		font-size: .8em !important;
		margin: 20px 10px !important;
	}
	.portfolioFilter a:before {
		right: -20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 50px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: 1em !important;
	}
	.news-image img {
		width: 100%;
	}
	.contact-bottom {
		padding: 50px 0px !important;
	}
	.post-container {
		padding-right: 0px !important;
	}
	.page-not-found {
		text-align: center;
	}
	.page-not-found h2 {
		padding-top: 30px;
	}
	.page-not-found .img-responsive {
		margin: 0 auto;
	}
	.quote-slider blockquote {
		font-size: 1.25em !important;
		padding: 0px 0% 25px 0% !important;
	}
	.tweet-slider .tweet {
		padding: 0px !important;
	}
	article {
		margin-bottom: 30px !important;
	}
	.post-content {
		padding: 30px !important;
	}
	.entry-content {
		font-size: .875em !important;
		line-height: 23px !important;
	}
	.entry-content p {
		font-size: .93em !important;
		line-height: 23px !important;
	}
	.comments-area {
		padding-right: 0px !important;
	}
	.comments-area .children {
		padding-left: 0px !important;
	}
} 


@media screen and (min-width: 420px) and (max-width: 479px) {
	.page-top {
		height: 60px !important;
	}
	.page-name {
		font-size: 2em !important;
	}
	#main-menu {
		max-height: 60px;
	}
	.section-area {
		padding: 50px 0px !important;
	}
	.main-slider {
		display: none !important;
	}
	.head-title {
		font-size: 1.25em !important;
	}
	.section-description {
		font-size: .8em !important;
		line-height: 23px !important;
		padding: 20px 0px 0px 0px !important;
	}
	.item-icon {
		font-size: 2.25em !important;
		width: 100px !important;
		height: 100px !important;
		line-height: 100px !important;
	}
	.item-title {
		padding: 30px 0px 10px 0px !important;
	}
	.fact-details li {
		display: block !important;
		padding: 15px !important;
	}
	blockquote.post-blockquote {
		font-size: 1.5em !important;
		line-height: 35px !important;
		padding: 30px !important;
	}
	blockquote.post-blockquote:before {
		left: 25px !important;
		top: 23px !important;
		font-size: 2em !important;
	}
	.attachmentlink {
		font-size: 1.25em !important;
		padding: 30px !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.team .member {
		padding-bottom: 40px !important;
		text-align: center;
	}
	.author-avatar {
		float: none !important;
		margin: 0 auto;
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details {
		padding-left: 0px !important;
	}
	.member-details {
		font-size: 1em !important;
		padding-top: 15px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: .94em !important;
	}
	.news-area .media-left {
		padding: 15px 20px !important;
	}
	.news-area .media-body {
		padding: 26px 20px 25px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px 0px 30px 0px !important;
		text-align: center;
	}
	.contact-bottom .address-icon {
		display: inline-block;
		float: none !important;
	}
	.address-details .item-title {
		padding-top: 15px !important;
	}
	.contact-bottom .media-body {
		padding-left: 0px !important;
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		font-size: 1.25em !important;
		margin-bottom: 50px !important
	}
	.entry-title {
		font-size: 1em !important;
	}
	.entry-content {
		padding: 10px 0px 10px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 350px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		font-size: .8em !important;
		margin: 20px 10px !important;
	}
	.portfolioFilter a:before {
		right: -20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 50px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: 1em !important;
	}
	.news-image img {
		width: 100%;
	}
	.contact-bottom {
		padding: 50px 0px !important;
	}
	.post-container {
		padding-right: 0px !important;
	}
	.page-not-found {
		text-align: center;
	}
	.page-not-found h2 {
		padding-top: 30px;
	}
	.page-not-found .img-responsive {
		margin: 0 auto;
	}
	.quote-slider blockquote {
		font-size: 1.25em !important;
		padding: 0px 0% 25px 0% !important;
	}
	.tweet-slider .tweet {
		padding: 0px !important;
	}
	article {
		margin-bottom: 30px !important;
	}
	.post-content {
		padding: 30px !important;
	}
	.entry-content {
		font-size: .875em !important;
		line-height: 23px !important;
	}
	.entry-content p {
		font-size: .93em !important;
		line-height: 23px !important;
	}
	.comments-area {
		padding-right: 0px !important;
	}
	.comments-area .children {
		padding-left: 0px !important;
	}
} 


@media screen and (min-width: 360px) and (max-width: 419px) {
	.page-top {
		height: 60px !important;
	}
	.page-name {
		font-size: 2em !important;
	}
	#main-menu {
		max-height: 60px;
	}
	.section-area {
		padding: 50px 0px !important;
	}
	.main-slider {
		display: none !important;
	}
	.head-title {
		font-size: 1.25em !important;
	}
	.section-description {
		font-size: .8em !important;
		line-height: 23px !important;
		padding: 20px 0px 0px 0px !important;
	}
	.item-icon {
		font-size: 2.25em !important;
		width: 100px !important;
		height: 100px !important;
		line-height: 100px !important;
	}
	.item-title {
		padding: 30px 0px 10px 0px !important;
	}
	.fact-details li {
		display: block !important;
		padding: 15px !important;
	}
	blockquote.post-blockquote {
		font-size: 1.5em !important;
		line-height: 35px !important;
		padding: 30px !important;
	}
	blockquote.post-blockquote:before {
		left: 25px !important;
		top: 23px !important;
		font-size: 2em !important;
	}
	.attachmentlink {
		font-size: 1.25em !important;
		padding: 30px !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.team .member {
		padding-bottom: 40px !important;
		text-align: center;
	}
	.author-avatar {
		float: none !important;
		margin: 0 auto;
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details {
		padding-left: 0px !important;
	}
	.member-details {
		font-size: 1em !important;
		padding-top: 15px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: .94em !important;
	}
	.news-area .media-left {
		padding: 15px 15px !important;
	}
	.news-area .media-body {
		padding: 26px 20px 25px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px 0px 30px 0px !important;
		text-align: center;
	}
	.contact-bottom .address-icon {
		display: inline-block;
		float: none !important;
	}
	.address-details .item-title {
		padding-top: 15px !important;
	}
	.contact-bottom .media-body {
		padding-left: 0px !important;
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		font-size: 1.25em !important;
		margin-bottom: 50px !important
	}
	.entry-title {
		font-size: 1em !important;
	}
	.entry-content {
		padding: 10px 0px 10px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 350px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter a {
		font-size: .8em !important;
		margin: 20px 10px !important;
	}
	.portfolioFilter a:before {
		right: -20px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 50px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: 1em !important;
	}
	.news-image img {
		width: 100%;
	}
	.contact-bottom {
		padding: 50px 0px !important;
	}
	.post-container {
		padding-right: 0px !important;
	}
	.page-not-found {
		text-align: center;
	}
	.page-not-found h2 {
		padding-top: 30px;
	}
	.page-not-found .img-responsive {
		margin: 0 auto;
	}
	.client-quote {
		display: none;
	}
	.tweet-slider .tweet {
		padding: 0px !important;
	}
	article {
		margin-bottom: 30px !important;
	}
	.post-content {
		padding: 20px !important;
	}
	.entry-content {
		font-size: .875em !important;
		line-height: 23px !important;
	}
	.entry-content p {
		font-size: .93em !important;
		line-height: 23px !important;
	}
	.comments-area {
		padding-right: 0px !important;
	}
	.comments-area .children {
		padding-left: 0px !important;
	}
	.works-item .item-h2.item-w2 {
		width: 330px !important;
	}
	.client-slider .item {
		width: inherit !important;
		height: inherit !important;
	}
	.blog-single blockquote {
		margin-left: 0px !important;
	}
	.author-details {
		padding-left: 0px !important;
		padding-top: 15px;
	}
	.comments-area .comment-meta {
		float: none !important;
	}
	.comment-metadata, .comment-content {
		margin-left: 0px !important;
		padding-top: 15px;
	}
} 


@media screen and (min-width: 320px) and (max-width: 359px) {
	.page-top {
		height: 60px !important;
	}
	.page-name {
		font-size: 2em !important;
	}
	#main-menu {
		max-height: 60px;
	}
	.section-area {
		padding: 50px 0px !important;
	}
	.main-slider {
		display: none !important;
	}
	.head-title {
		font-size: 1.25em !important;
	}
	.section-description {
		font-size: .8em !important;
		line-height: 23px !important;
		padding: 20px 0px 0px 0px !important;
	}
	.item-icon {
		font-size: 2.25em !important;
		width: 100px !important;
		height: 100px !important;
		line-height: 100px !important;
	}
	.item-title {
		padding: 30px 0px 10px 0px !important;
	}
	.fact-details li {
		display: block !important;
		padding: 15px !important;
	}
	blockquote.post-blockquote {
		font-size: 1.5em !important;
		line-height: 35px !important;
		padding: 30px !important;
	}
	blockquote.post-blockquote:before {
		left: 25px !important;
		top: 23px !important;
		font-size: 2em !important;
	}
	.attachmentlink {
		font-size: 1.25em !important;
		padding: 30px !important;
	}
	figure.effect-hera figcaption::before {
		width: 90px !important;
		height: 90px !important;
	}
	.team .section-area {
		padding-bottom: 0px !important;
	}
	.team .member {
		padding-bottom: 40px !important;
		text-align: center;
	}
	.author-avatar {
		float: none !important;
		margin: 0 auto;
		max-width: 150px !important;
		max-height: 150px !important;
	}
	.author-avatar:before {
		height: 190px !important;
	}
	.member-details {
		padding-left: 0px !important;
	}
	.member-details {
		font-size: 1em !important;
		padding-top: 15px !important;
	}
	.member-details p {
		line-height: 23px !important;
		padding: 10px 0px !important;
	}
	.news-area .entry-title {
		font-size: .94em !important;
	}
	.news-area .media-left {
		padding: 15px 10px !important;
	}
	.news-area .media-body {
		padding: 14px 20px 13px 20px !important;
	}
	.contact-bottom .item {
		padding: 0px 0px 30px 0px !important;
		text-align: center;
	}
	.contact-bottom .address-icon {
		display: inline-block;
		float: none !important;
	}
	.address-details .item-title {
		padding-top: 15px !important;
	}
	.contact-bottom .media-body {
		padding-left: 0px !important;
	}
	.about-item {
		padding-top: 50px !important;
	}
	.section-title {
		font-size: 1.25em !important;
		margin-bottom: 50px !important
	}
	.entry-title {
		font-size: 1em !important;
	}
	.entry-content {
		padding: 10px 0px 10px 0px !important;
	}
	.entry-content a {
		font-size: .9rem !important;
		line-height: 23px !important;
	}
	.widget-title {
		font-size: 1.25em !important;
	}
	.widget_categories li, .widget_archive li {
		font-size: .9em !important
	}
	.side-bar .entry-title {
		font-size: .875em !important;
	}
	.panel-title {
		font-size: .875em !important;
	}
	.widget_img a {
		width: 55px !important;
		height: 55px !important;
	}
	.plan-name {
		font-size: 1.25em !important
	}
	.google-map-container {
		height: 350px !important
	}
	.tweet-slider {
		padding-top: 0px !important;
	}
	.client-avatar {
		float: inherit !important;
	}
	.client-speech {
		margin-top: 20px;
		padding-left: 0px !important
	} 
	.client-speech:before {
		top: -8px !important;
		padding-left: 0px !important;
	}
	.portfolioFilter {
		padding-bottom: 20px;
	}
	.portfolioFilter a {
		font-size: .75em !important;
		margin: 5px 5px !important;
	}
	.portfolioFilter a:before {
		right: -14px !important;
	}
	.service-item {
		padding-bottom: 15px !important;
	}
	.portfolio-sidebar,
	.blog-sidebar {
		clear: both;
		padding-top: 50px;
	}
	.panel-title a:before, .panel-title a.collapsed:before {
		top: 1px !important;
	}
	.address-details a, .address-details span {
		font-size: 1em !important;
	}
	.news-image img {
		width: 100%;
	}
	.contact-bottom {
		padding: 50px 0px !important;
	}
	.post-container {
		padding-right: 0px !important;
	}
	.page-not-found {
		text-align: center;
	}
	.page-not-found h2 {
		padding-top: 30px;
	}
	.page-not-found .img-responsive {
		margin: 0 auto;
	}
	.client-quote {
		display: none;
	}
	.tweet-slider .tweet {
		padding: 0px !important;
	}
	article {
		margin-bottom: 30px !important;
	}
	.post-content {
		padding: 20px !important;
	}
	.entry-content {
		font-size: .875em !important;
		line-height: 23px !important;
	}
	.entry-content p {
		font-size: .93em !important;
		line-height: 23px !important;
	}
	.comments-area {
		padding-right: 0px !important;
	}
	.comments-area .children {
		padding-left: 0px !important;
	}
	.works-item .item-h2.item-w2 {
		width: 330px !important;
	}
	.client-slider .item {
		width: inherit !important;
		height: inherit !important;
	}
	.blog-single blockquote {
		margin-left: 0px !important;
	}
	.author-details {
		padding-left: 0px !important;
		padding-top: 15px;
	}
	.comments-area .comment-meta {
		float: none !important;
	}
	.comment-metadata, .comment-content {
		margin-left: 0px !important;
		padding-top: 15px;
	}
	.pagination a {
		margin: 0px !important;
	}
} 







