/* This css file is to over write bootstarp css
/*---------------------------------------------------------------------- */
/*
Theme Name: Open HTML
Theme URI: http://jwtheme.com/
Author: JW Theme
Author URI: http://jwtheme.com/
Description: Top Class Multipurpose HTML Templeman by JWTheme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: html template, html, Open HTML, jwtheme
*---------------------------------------------------------------------- */




/* Table of contents
---------------------------------------------------------------------- /
*
*  1 - Import Google Font
*  2 - General styles
*    2.1 - Headings
*  3 - Global Settings 
*    3.1 - Title Style
*    3.2 - Description Style
*    3.3 - Carousel
*  4 - Parallax
*  5 - Shortcode
*	 5.1 - Page Name Section
*	 5.2 - Buttons
*	 5.3 - Social Buttons
*	 5.4 - Item Related Style
*	 5.5 - About Section
*	 5.6 - Pricing Table Section
*	 	5.6.1 - Plan Name
*	 	5.6.2 - Package price
*	 	5.6.3 - Currency
*	 5.7 - Latest News
*	 5.8 - Progress Bar
*	 5.9 - Accordions

*  6 - Header Section
*  7 - Main Menu
*  8 - Main Slider Section
*  9 - Team Member
*  10 - Portfolio Section
*  11 - Service Section
*  12 - Testimonial Section
*  13 - Client Logo Section
*  14 - Google Map
*  15 - Contact Section
*  16 - Footer
*  17 - Scroll To Top
*  18 - Blog Page
*  19 - Blockquote
*  20 - Attachment Link
*  21 - Pagination
*  22 - Single Page
*  	  22.1 - Author Social Share
*  	  22.2 - Author Bio
*  	  22.3 - Comments
*  23 - Portfolio Details
*  24 - Sidebar
*     24.1 - Widgets
*     24.2 - Search Widget
*     24.3 - widget_img
*     24.4 - Categories, Archive Widget & Project Details
*     24.5 - Recent Post Widget
*     24.6 - Tag Widget
*     24.7 - Calendar
*
---------------------------------------------------------------------- */



/* 1 - Google Font
------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

/* 1 - Google Font End 
------------------------------------------------------------------------*/


/* 2 - General styles
---------------------------------------------------------------------- */
html,
body {
	font-family: 'Open Sans', 'Roboto', sans-serif;
	font-size: 16px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #595959;
	text-decoration: none;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;	
}
a:focus {
	text-decoration: none;
	outline:none;
	outline-offset:0;
}
a:hover {
	text-decoration: none;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 25px;
	color: #808080;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	display: inline-block;
}
img {
	max-width: 100%;
	height: auto;
}
.pattern-overlay {
	background: url(../../images/pattern.png) rgba(14, 14, 14, 0.3);
	width: 100%;
	height: 100%;
}
.page-top {
	height: 100px;
}
.section-area {
	padding: 120px 0px;
}
iframe,
audio {
	width: 100%;
	height: auto;
	border: none;
}
input,
textarea {
	width: 100%;
}
.form-control:focus,
input:focus,
textarea:focus {
	border-color: transparent;
	box-shadow: none;
	outline:none;
	outline-offset:0;
} 
.form-control {
	border-color: transparent;
	border-radius: 0px;
	color: #ffffff;
	font-size: 1em;
	margin-bottom: 15px;
	padding: 18px 20px;
}
article {
	margin-bottom: 80px;
}
blockquote {
	border: none;
	position: relative;
}
aside {
	clear: both;
}

/*---------- Headings ------------ */
h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.375em;
}
h5 {
	font-size: 1.125em;
}
h6 {
	font-size: 0.875em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	text-transform: uppercase;
}

/*-------- Title Related Style ---------*/
.section-title {
	color: #37474f;
	display: inline-block;
	font-family: 'Open Sans';
	font-size: 2.18em;
	margin-bottom: 100px;
	position: relative;
	padding: 12px 10px;
}
.section-title:before,
.section-title:after,
.left-bottom:before,
.left-bottom:after,
.right-top:before,
.right-top:after,
.right-bottom:before,
.right-bottom:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #37474f;
}
.right-top:before,
.right-top:after,
.right-bottom:before,
.right-bottom:after {
	right: 0px;
	left: inherit;
}
.section-title:before,
.left-bottom:before,
.right-top:before,
.right-bottom:before {
	width: 20px;
	height: 1px;
}
.section-title:after,
.left-bottom:after,
.right-top:after,
.right-bottom:after {
	width: 1px;
	height: 20px;
}
.left-bottom:before {
	bottom: 0px;
	top: inherit;
}
.left-bottom:after {
	bottom: 0px;
	top: inherit;
}
.right-bottom:before {
	top: inherit;
	bottom: 0px;
}
.right-bottom:after {
	top: inherit;
	bottom: 0px;
}
.item-title {
	font-size: 1.18em;
	padding-bottom: 20px;
	color: #f9f7f7;
}
.shortcode-page .item-title {
	color: #242424;
}

/*--------- Description Related Style ---------*/
.section-description {
	font-family: 'Open Sans';
	font-size: .91em;
	padding: 0 120px;
	line-height: 26px;
}
.item-description {
	font-family: 'Roboto';
	line-height: 24px;
	color: #808080;
	font-size: .93em;
}

/*----------- Carosuel -------------*/
.carousel-indicators .active {
	background-color: #7D6565;
	width: 11px;
	height: 11px;
}
.carousel-control {
	background-color: rgba(255, 255, 255, 0.5);
	color: #242424;
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	margin-top: -30px;
}
.carousel-control.left,
.carousel-control.right {
	background-image: none;
	opacity: .2;
	z-index: 99;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.carousel-control.left:hover,
.carousel-control.right:hover {
	color: #16a085;
	cursor: pointer;
	opacity: 1;

}
.page-name-sec {
	background: url(../../images/background/quote.jpg) 50% 0 no-repeat fixed;
}

/*--------------- Shortcode Page -----------------*/

/*---------- Page Name Section -----------*/
.page-name-sec {
	color: #ffffff;
}
.page-name {
	font-size: 2.5em;
	font-family: 'Open Sans';
	padding-bottom: 15px;
}
.page-location {
	background-color: transparent;
	padding: 0px;
	margin: 0px;
}
.page-location a {
	color: #ffffff;
}
.page-location li.active {
	color: #16a085;
}

/*---------- Buttons -------------*/
.btn {
	border: 2px solid transparent;
	border-radius: 0px;
	color: #ffffff;
	font-size: .85em;
	padding: 10px 30px 10px 30px;
	text-transform: uppercase;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.btn:hover {
	background-color: #ffffff;
}

/*---------- Social Buttons ----------*/
.twitter-btn:hover {
	color: #55acee;
}
.facebook-btn:hover {
	color: #3d5fa6;
}
.dribbble-btn:hover {
	color: #eb4c89;
}

/*--------- Item Related Style -----------*/
.item-top {
	border-radius: 100%;
	display: inline-block;
	padding: 3px;
	position: relative;
}
.item-top:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	left: 50%;
	margin-left: -15px;
	bottom: -25px;
}
.item-title {
	padding-top: 45px;
}
.item-icon {
	border-radius: 100%;
	color: #ffffff;
	display: inline-block;
	font-size: 2.3em;
	height: 115px;
	line-height: 115px;
	width: 115px;
	text-align: center;
}
.service-icon {
	border: 1px solid #dcdcdc;
	padding: 2px;
}
.icon-image {
	position: relative;
}
.icon-image:before {
	content: '';
	bottom: -25px;
	text-align: center;
	height: 1px;
	width: 30px;
	position: absolute;
	margin-left: 39px;
	left: 0px;
}

/*--------- About Section -----------*/
.shortcode-about.about {
	background-color: #ffffff;
}
.shortcode-about.about .item-description {
	color: #808080;
}
.shortcode-page .about-item {
	padding-top: 0px;
	padding-bottom: 90px;
}
.about .section-area {
	padding-bottom: 60px;
}
.about-item .item-top {
	padding: 0;
}
.about-item {
	padding-top: 90px;
	text-align: center;
}
.about-item .item-icon:before {
	background-color: #f9f7f7;
}
.skills {
	padding-top: 35px;
}
.about-us {
	padding-bottom: 65px;
}
.about-image {
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: 90px;
	padding: 40px 20px;
}
.about-image .icon-image {
	display: inline-block;
	width: 110px;
	height: 110px;
}
.about-image .item-title {
	color: #242424;
}
.about-image .item-description {
	color: #999999;
}

/*----------- Pricing Table Section ----------*/
.pricing {
	padding-top: 20px;
}
.pricing-area {
	padding-bottom: 80px;
}
.table {
	border: 1px solid #f0f0f0;
	margin-bottom: 45px;
}
.table-top {
	position: relative;
}
.plan-name {
	background-color: #37474f;
	font-size: 1.625em;
	font-weight: 700;
	color: #ffffff;
	padding: 45px 40px 60px 40px;
	text-transform: uppercase;
}
.package-price {
	padding: 40px;
}
.about-price {
	height: 120px;
	width: 120px;
	border-radius: 100%;
	text-align: center;
	position: absolute;
	top: 41%;
	background: #ffffff;
	left: 50%;
	margin-left: -60px;
	padding: 5px;
}
.price-details {
	border-radius: 100%; 
	width: 100%;
	height: 100%;
}
.shortcode .price-details {
	left: 33%;
}
.currency {
	font-family: 'Open Sans';
	font-size: 1.81em;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}
.price {
	font-size: 1.5em;
	font-weight: 700;
}
.duration {
	color: #999999;
	font-style: italic;
	margin-top: -8px;
	display: inherit;
}
.package-description span {
	display: block;
	padding: 8px;
	color: #808080;
	font-family: 'Roboto';
	font-size: .9em;
}
.package-description span:nth-child(odd) {
	background-color: #f0f0f0;
}
.package-description span:nth-child(even) {
	background-color: #f7f7f7;
}
.package-footer {
	padding: 40px;
}
.plan-name,
.package-price,
.about-price,
.price-details,
.currency,
.price,
.duration,
.package-description span {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.table:hover .plan-name {
	background-color: #16a085;
}
.package-footer .btn {
	background-color: #16a085;
}
.package-footer .btn:hover {
	background-color: #37474f;
	color: #ffffff;
}

/*------------------ Client Quote ------------------*/
.client-quote {
	background: url(../../images/background/quote.jpg) 50% 0 no-repeat fixed;
	margin: 0 auto;
	padding: 0;
	color: #ffffff;
	font-family: 'Open Sans';
}
.quote-slider blockquote {
	border: none;
	font-size: 1.56em;
	font-style: normal;
	margin: 0px;
	padding: 0px 10% 25px 10%;
}
.quote-slider .author-name {
	display: inline-block;
	font-size: .93em;
	font-weight: 700;
	padding: 10px 0px 0px 0px;
	position: relative;
	text-transform: uppercase;
}
.quote-slider .author-name:before {
	content: '';
	background-color: #ffffff;
	height: 1px;
	width: 30px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -15px;
}

/*------------- Latest News Section --------------*/
.shortcode-page .latest-news {
	background-color: #ffffff;
}
.shortcode-page .latest-news .section-title {
	color: #2a2a2a;
}
.latest-news {
	background-color: #37474f;
}
.latest-news .section-area,
.latest-news .news-item {
	padding-bottom: 60px;
}
.latest-news .section-title {
	color: #ffffff;
}
.latest-news .section-title:before,
.latest-news .section-title:after,
.latest-news .left-bottom:before,
.latest-news .left-bottom:after,
.latest-news .right-top:before,
.latest-news .right-top:after,
.latest-news .right-bottom:before,
.latest-news .right-bottom:after {
	background-color: #ffffff;
}
.news-area .media {
	margin: 0px;
}
.news-area .media-left {
	background-color: #16a085;
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 1.375em;
	font-weight: 700;
	float: left;
	padding: 15px 12px;
	text-transform: uppercase;
}
.news-area .entry-meta span {
	color: #ffffff;
	display: block;
	font-size: 1.75em;
}
.news-area .media-body {
	background-color: #6a7479;
	padding: 26px 20px 25px 20px;
}
.news-area .entry-title {
	font-size: 1.06em;
	font-weight: normal;
	line-height: 24px;
	padding-bottom: 0px;
}
.news-area .entry-title a {
	color: #ffffff;
}

 /* ----------- Progress Bar ------------- */
 .progress {
 	border-radius: 0;
 	box-shadow:none;
 	background-color: #65747b;

 	-webkit-box-shadow:none;
 	-moz-box-shadow:none;
 	-ms-box-shadow:none;
 	-o-box-shadow:none;
 	box-shadow:none;
 }
 .progress .progress-bar {
 	background-color: #16a085;
 	position: relative;
 }
 .progress.bold {
 	height: 37px;
 }
 .progress.thin {
 	height: 10px;
 	margin-top: 35px;
 	margin-bottom: 70px;
 	overflow: visible;
 }
 .progress.thin .progress-text {
 	color: #ffffff;
 	font-family: 'Open Sans';
 	font-size: 1.1em;
 	font-weight: 500;
 	line-height: 1px;
 	position: absolute;
 	display: inline-block;
 	top: -22px;
 	left: 0;
 	text-transform: uppercase;
 }
 .progress.thin .progress-percent {
 	background-color: #16a085;
 	color: #ffffff;
 	text-align: center;
 	font-size: 13px;
 	line-height: 25px;
 	display: inline-block;
 	padding: 0px 5px;
 	border-radius: 4px;
 	position: absolute;
 	top: -35px;
 	right: -15px;
 }

/*------------- Accordions ------------*/
.shortcode-page .panel-group {
	padding-bottom: 80px;
}
.shortcode-page .panel-title a:before,
.shortcode-page .panel-title a.collapsed:before {
	top: 0px;
	right: 0px;
}
.accordion-2 .panel-title a:before {
	content: "\f103";
}
.accordion-2 .panel-title a.collapsed:before {
	content: "\f102";
}
.panel-group .panel,
.panel-heading {
	border-radius: 0px;
}
.panel-title {
	font-size: .875em;
	position: relative;
}
.panel-title a {
	display: block;
	text-decoration: none;
}
.panel-title a:before,
.panel-title a.collapsed:before {
	font-family: FontAwesome;
	position: absolute;
	right: 0px;
	top: 1px;
}
.panel-title a:before {
	content: "\f068";
}
.panel-title a.collapsed:before {
	content: "\f067";
}
.panel-default>.panel-heading {
	background-color: #16a085;
	color: #ffffff;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd;
	font-family: 'Roboto';
	font-size: .93em;
	line-height: 25px;
}

/*----------- Header Section -------------*/

/*--------- Main Slider Section -----------*/
.main-slider {
	max-height: 855px;
	overflow: hidden;
	text-align: center;
}
.main-slider .carousel-caption {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
.main-slider img {
	width: 100%;
	max-height: 100%;
}
.main-slider .slider-text {
	color: #ffffff;
	text-shadow: none;
}
.slider-title {
	font-family: 'Open Sans';
	font-size: 4.06em;
	font-weight: 500;
	padding-top: 30%;
	padding-bottom: 90px;
} 
.main-slider .btn {
	border: 2px solid #ffffff;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: .93em;
	font-weight: 500;
	padding: 15px 53px;
	margin: 0 8px;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.main-slider .btn:hover {
	background-color: #ffffff;
	color: #16a085;
}

/*----------- About Section -----------*/
.about {
	background-color: #37474f;
}
.head-title {
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 2.18em;
	font-weight: 300;
}
.head-title span {
	color: #1abc9c;
}
.about .section-description {
	color: #bfbfbf;
	font-size: .875em;
	padding: 20px 70px 0px 70px;
	text-transform: uppercase; 
}
.about-items .item-top {
	background-color: #16a085;
}
.about-items .item-top:before {
	content: '';
	position: absolute;
	bottom: -20px;
	width: 30px;
	height: 1px;
	background-color: #ffffff;
	left: 50%;
	margin-left: -15px;
}
.about-items .item-icon:before {
	content: '';
	position: absolute;
	height: 140px;
	width: 2px;
	background-color: #16a085;
	z-index: -1;
	right: 50%;
	left: 50%;
	top: -11px;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.about-items .item-description {
	color: #d9d9d9;
}
.skills .section-title {
	color: #ffffff;
}
.skills .section-title:before,
.skills .section-title:after,
.skills .left-bottom:before,
.skills .left-bottom:after,
.skills .right-top:before,
.skills .right-top:after,
.skills .right-bottom:before,
.skills .right-bottom:after {
	background-color: #ffffff;
}

/*-------------- Team Member Section --------------*/
.team .section-area {
	padding-bottom: 0px;
}
.member-area {
	padding-bottom: 30px;
}
.team .member {
	padding-bottom: 100px;
}
.member-container {
	color: #999999;
}
.author-avatar {
	float: left;
	max-height: 200px;
	max-width: 200px;
	position: relative;
}
.author-avatar:before {
	content: '';
	position: absolute;
	height: 240px;
	width: 2px;
	background-color: #37474f;
	z-index: -1;
	right: 50%;
	left: 50%;
	top: -20px;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.member-details {
	padding-left: 30px;
}
.member-top {
	position: relative;
}
.member-top:before {
	content: '';
	bottom: 0px;
	height: 1px;
	width: 15%;
	position: absolute;
}
.name {
	color: #242424;
	font-size: 1.375em;
}
.designation {
	display: inline-block;
	padding-bottom: 11px;
	font-size: .8125em;
	color: #b2b2b2;
	text-transform: uppercase;
	position: relative;
}
.designation:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 1px;
	bottom: 0px;
	left: 0px;
	background-color: #242424;
}
.member-details p {
	line-height: 25px;
	margin: 0px;
	padding: 20px 0px;
}
.member-social-link {
	padding-top: 5px;
}
.member-social-link a {
	border-left: 2px solid #838f95;
	color: #838f95;
	font-size: .93em;
	padding: 0 5px;
	text-align: center;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.member-social-link a:last-child {
	border-right: 2px solid #838f95;
}

/*---------------- Team Member Section End ------------------*/

/*---------- Our Facts -----------*/
#our-facts {
	background: url(../../images/background/facts.jpg) 50% 0 no-repeat fixed;
	margin: 0 auto;
	padding: 0;
}
.our-facts .pattern-overlay {
	background-color: rgba(14, 14, 14, 0.7);
}
.our-facts .section-title {
	color: #ffffff;
}
.our-facts .section-title:before,
.our-facts .section-title:after,
.our-facts .left-bottom:before,
.our-facts .left-bottom:after,
.our-facts .right-top:before,
.our-facts .right-top:after,
.our-facts .right-bottom:before,
.our-facts .right-bottom:after {
	background-color: #ffffff;
}
.fact-details {
	color: #ffffff;
}
.fact-details .item-icon {
	background: #ffffff;
	border-radius: 100%;
	color: #16a085;
	display: block;
	font-size: 2.5em;
	line-height: 95px;
	margin: 0 auto;
	width: 95px;
	height: 95px;

}
.count-number,
.more  {
	display: inline-block;
	font-family: 'Open Sans';
	font-size: 1.5em;
	font-weight: 800;
	padding: 10px 0px 5px 0px;
}
.fact-details .item-name {
	display: block;
	font-size: .93em;
	font-weight: 700;
	text-transform: uppercase;
}

/*---------- Portfolio Section ----------*/
#portfolio-page {
	background-color: #16a085;
}
.portfolio {
	background-color: #37474f;
}
.more-works a.btn{
	background-color: #fff;
	color: #16a085;
}
.portfolio .section-title {
	color: #ffffff;
	margin-bottom: 65px;
}
.portfolio .section-title:before,
.portfolio .section-title:after,
.portfolio .left-bottom:before,
.portfolio .left-bottom:after,
.portfolio .right-top:before,
.portfolio .right-top:after,
.portfolio .right-bottom:before,
.portfolio .right-bottom:after {
	background-color: #ffffff;
}
.isotope figure .item-w2.isotope-item {
	width: 290px;
	height: 250px;
}
.isotope figure .item-s1 {
	width: 585px;
	height: 504px;
}
.isotope figure .item-h3 {
	background: #38B5E5;
}
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:      -o-transform, opacity;
	transition-property:         transform, opacity;
}
.portfolioFilter {
	text-align: center;
}
.portfolioFilter a {
	color: #fff;
	display: inline-block;
	font-family: 'Open Sans';
	font-size: .85em;
	font-weight: 600;
	padding: 5px 5px;
	position: relative;
	margin: 25px;
	text-transform: uppercase;
}
.portfolioFilter a:before {
	content: '';
	width: 10px;
	height: 1px;
	background-color: #ffffff;
	position: absolute;
	right: -30px;
	top: 15px;
}
.portfolioFilter a:last-child:before {
	display: none;
}
.portfolioFilter a.current {
	position: relative;
	background-color: #ffffff;
	color:#015746;
	text-decoration: none;
}
.portfolioFilter a.logo-filter.current:after {
	left: 15%;
}
.works-item {
	position: relative;
	clear: both;
}
.works-item figure {
	background: #ffffff;
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
}
.works-item figure img {
	min-height: 100%;
	min-width: 100%;
	border: transparent;
	height: auto;
	vertical-align: middle;
	position: relative;
	display: block;
	opacity: 0.7;

	-webkit-transition: -webkit-transform .25s  ease;
	-moz-transition: -moz-transform .25s  ease;
	-ms-transition: -ms-transform .25s  ease;
	-o-transition: -o-transform .25s  ease;
	transition: transform .25s  ease;
}
.works-item figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.works-item figure figcaption::before,
.works-item figure figcaption::after {
	pointer-events: none;
}
.works-item figure figcaption,
.works-item figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.works-item figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.works-item figure p {
	margin: 0;
	letter-spacing: 1px;
	font-size: 68.5%;
}
.works-item figure:hover img {
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
} 
.works-item figure:hover:after {
	opacity: 1;
	top: 0;
	left: 0;	
	-webkit-transform: rotate(0deg) scale(1.2,1.2);
	-moz-transform: rotate(0deg) scale(1.2,1.2);
	-ms-transform: rotate(0deg) scale(1.2,1.2);
	-o-transform: rotate(0deg) scale(1.2,1.2);
	transform: rotate(0deg) scale(1.2,1.2);
}
.works-item figure .more a {
	background-color: #2a2a2a;
	border-radius: 100%;
	color: #ffffff;
	cursor: pointer;
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	left: -100%;	
	z-index: 2;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-left: -25px;
	margin-top: -25px;
	padding: 2px 15px 15px 16px;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.works-item figure:hover .more a {
	opacity: 1;
	left: 50%;
}
.more-works {
	padding-top: 100px;
}
figure.effect-hera {
	background: #000;
}
figure.effect-hera p {
	position: absolute;
	top: 50%;
	left: 54%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
}
figure.effect-hera p {
	width: 100px;
	text-transform: none;
	font-size: 121%;
	line-height: 2;
}
figure.effect-hera p a {
	color: #fff;
}
figure.effect-hera p a:hover,
figure.effect-hera p a:focus {
	opacity: 0.6;
}
figure.effect-hera p a i {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-hera figcaption::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 150px;
	border: 2px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
	transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
}
figure.effect-hera p a:first-child i {
	-webkit-transform: translate3d(-60px,-60px,0);
	transform: translate3d(-60px,-60px,0);
}
figure.effect-hera p a:nth-child(2) i {
	-webkit-transform: translate3d(60px,-60px,0);
	transform: translate3d(60px,-60px,0);
}
figure.effect-hera p a:nth-child(3) i {
	-webkit-transform: translate3d(-60px,60px,0);
	transform: translate3d(-60px,60px,0);
}
figure.effect-hera p a:nth-child(4) i {
	-webkit-transform: translate3d(60px,60px,0);
	transform: translate3d(60px,60px,0);
}
figure.effect-hera:hover figcaption::before {
	opacity: 1;
	-webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
	transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
}
figure.effect-hera:hover p i:empty {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0); /* just because it's stronger than nth-child */
	opacity: 1;
}

/*---------- Service Section ------------*/
.service .section-area {
	padding-bottom: 55px;
}
.service-item {
	padding-bottom: 45px;
}
.services .item-title {
	color: #242424;
	font-size: 1.31em;
	font-weight: 600;
	padding-top: 32px;
}
.shortcode-page .service-item {
	padding-bottom: 100px;
}
.services .item-top:before {
	background-color: #242424;
	bottom: -12px;
}
.services .item-icon {
	color: #16a085;
	font-size: 3.12em;
	height: inherit;
	line-height: inherit;
}
.service-btn {
	padding-top: 25px;
}
.service-btn .btn {
	background-color: #16a085;
	border: 1px solid transparent;
	color: #ffffff;
	font-size: .81em;
	font-weight: 300;
	font-family: 'Open Sans';
	padding: 8px 20px;
	line-height: 20px;
}
.service-btn .btn:hover {
	background-color: #ffffff;
	border-color: #16a085;
	color: #16a085;
}

/*----------- Testimonial Section --------------*/
.owl-item {
	padding: 0 15px;
}
.testimonial .section-area {
	padding-bottom: 76px;
}
.client-area {
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
	overflow: visible;
	padding: 33px 30px;
	position: relative;
}
.client-area:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 40px solid #e6e6e6;
	border-right: 40px solid transparent;
	bottom: -40px;
	right: 90px;
}
.client-area:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 40px solid #ffffff;
	border-right: 40px solid transparent;
	bottom: -38px;
	right: 89px;
}
.client-avatar { 
	float: left;
	max-height: 110px;
	max-width: 110px;
}
.client-avatar img {
	border: 1px solid #e6e6e6;
}
.client-speech {
	color: #999999;
	font-family: 'Roboto';
	font-style: italic;
	font-size: .93em; 
	line-height: 24px;
	padding-left: 35px;
	position: relative;
}
.client-speech:before,
.client-speech:after {
	font-family: FontAwesome;
	position: absolute;
	font-size: .5em;
} 
.client-speech:before {
	content: "\f10d";
	top: -2px;
	left: 0px;
	padding-left: 27px;
} 
.client-speech:after {
	content: "\f10e";
	bottom: 1px;
	right: 7px;
} 
.about-author {
	padding: 20px 30px;
}
.about-author span {
	display: block;
}
.client-name {
	font-family: ;
	font-size: 1.31em;
	font-weight: 700;
	text-transform: uppercase;
}
.company {
	color: #b2b2b2;
	font-family: 'Open Sans';
	font-size: .75em;
	font-weight: 300;
	text-transform: uppercase;
}

/*------------ Client Logo Section -----------*/
.client-logo {
	padding-bottom: 120px;
}
.client-slider .item {
	background-color: #f5f5f5;
	border: 1px solid transparent;
	width: 210px;
	height: 110px;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.client-slider img {
	opacity: .4;
	padding: 40px 24px;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.client-slider .item:hover {
	background-color: transparent;
	border: 1px solid #f5f5f5;
}
.client-slider .item:hover img {
	opacity: 1;
}

/*------------ Latest Tweet Section ------------*/
.latest-tweet {
	background: url(../../images/background/tweet.jpg) 50% 0 no-repeat fixed;
	margin: 0 auto;
	padding: 0;
}
.latest-tweet .pattern-overlay {
	background-color: rgba(14, 14, 14, 0.65);
}
.tweet-icon {
	color: #ffffff;
	font-size: 3.125em;
	padding: 13px 0px;
}
.tweet-slider {
	padding-top: 55px;
}
.tweet-slider .tweet {
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 1.05em;
	padding: 0 15%;
}
.tweet-slider a {
	color: #16a085;
}
.tweet-slider span {
	color: #8c8c8c;
	font-size: .8125em;
}
.tweet-slider .carousel-control {
	background-color: transparent;
	color: #8c8c8c;
	font-size: 2.875em;
}

/*--------------- Contact Section ---------------*/

/*---------- Contact Top -----------*/
.contact-top {
	background-color: #37474f;
}
.contact .section-title {
	color: #ffffff;
}
.contact .section-title:before,
.contact .section-title:after,
.contact .left-bottom:before,
.contact .left-bottom:after,
.contact .right-top:before,
.contact .right-top:after,
.contact .right-bottom:before,
.contact .right-bottom:after {
	background-color: #ffffff;
}
.contact input,
.contact textarea {
	background: #6a7479;
	border-bottom: 2px solid #909699;
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: .875em;
}
.contact .form-control {
	padding: 23px 20px;
}
.contact-form .form-control::-webkit-input-placeholder {
	color: #ffffff;
}
.contact-form .form-control::-moz-placeholder {
	color: #ffffff;
}
.contact-form .form-control:-moz-placeholder {
	color: #ffffff;
}
.contact-form .form-control::-ms-input-placeholder {
	color: #ffffff;
}
.submit-btn {
	background-color: #16a085;
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 1em;
	width: 100%;
	text-transform: uppercase;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.submit-btn:hover {
	background-color: #6a7479;
	color: #ffffff;
}
.contact-info-box:hover .envelope:after {
	box-shadow: 3px 3px #e12444;
}
.contact-info-box:hover .phone:after {
	box-shadow: 3px 3px #e0c124;
}
.contact-info-box:hover .skype:after {
	box-shadow: 3px 3px #1fb538;
}

/*---------- Contact Bottom -----------*/
.contact-bottom {
	padding: 100px 0px;
}
.contact-bottom .item {
	padding: 0 50px;
}
.address-icon {
	border-radius: 100%;
	color: #ffffff;
	float: left;
	font-size: 2.5em;
	width: 85px;
	height: 85px;
	line-height: 85px;
	text-align: center;
	position: relative;
}
.street-icon,
.street-icon:before {
	background-color: #1abc9c;
}
.mail-icon,
.mail-icon:before  {
	background-color: #9b59b6;
}
.phone-icon,
.phone-icon:before {
	background-color: #3498db;
}
.address-icon:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 115px;
	top: -11px;
	left: 50%;
	margin-left: -1px;
	z-index: -1;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.address-details .media-body {
	font-family: 'Roboto';
	padding-left: 25px;
}
.address-details .item-title {
	color: #242424;
	font-size: 1.31em;
	font-weight: 600;
	padding-top: 0px;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.address-details a,
.address-details span {
	display: block;
}

/*-------------- Google Map ---------------*/
.map-container img {
	max-width: inherit;
	height: inherit;
}
.google-map-container {
	width:100%; 
	height:500px;
	background: #dddddd;
}

/*--------------- Footer ---------------*/
.footer {
	background-color: #242424;
	color: #bfbfbf;
	font-family: 'Open Sans';
	font-size: .875em;
	text-transform: uppercase;
}
.footer-top {
	padding-bottom: 23px;
	position: relative;
}
.footer a {
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 1px;
}
.footer-top:before {
	content: '';
	position: absolute;
	background-color: #ffffff;
	width: 30px;
	height: 1px;
	left: 50%;
	right: 50%;
	margin-left: -15px;
	bottom: 0px;
}
.credit {
	padding-top: 13px;
}
.footer-top a:hover {
	color: #16a085;
}
.footer-social {
	padding-top: 27px;
}
.footer-social a {
	color: #16a085;
	font-size: 1.5em;
	width: 42px;
	font-weight: 300;
}
.footer-social a:hover {
	color: #ffffff;
}

/*--------------- Scroll To Top ---------------*/
.scroll-to-top {
	background-color: #16a085;
	position: fixed;
	right: 40px;
	bottom: 40px;
	font-size: 1.15em;
	height: 35px;
	width: 35px;
	line-height: 32px;
	color: #ffffff;
	text-align: center;
	opacity: .25;
	cursor: pointer;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.scroll-to-top:hover {
	opacity: 1;
}

/*--------------- Blog page ---------------*/
.post-container {
	padding-right: 30px;
}
.post {
	background-color: #f9f9f9;
}
.post-content {
	display: inline-block;
	padding: 40px;
}
.entry-title {
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.entry-title a:hover,
.entry-meta span a:hover {
	color: #16a085;
}
.entry-meta {
	font-size: .8em;
}
.entry-meta span {
	font-family: 'Open Sans';
	padding-right: 5px;
	color: #b2b2b2;
}
.entry-meta span a {
	color: #b2b2b2;
}
.entry-content {
	padding: 28px 0px 30px 0px;
}
.entry-content p {
	line-height: 26px;
}
.continue-reading .btn {
	background-color: #16a085;
	border: 1px solid transparent;
	color: #ffffff;
	font-size: .81em;
	font-weight: 300;
	font-family: 'Open Sans';
	padding: 8px 20px;
	line-height: 20px;
}
.continue-reading .btn:hover {
	background-color: #ffffff;
	border-color: #16a085;
	color: #16a085;
}

/*------------ Blockquote --------------*/
blockquote.post-blockquote {
	background-color: #16a085;
	color: #ffffff;
	font-size: 3.125em;
	font-style: inherit;
	padding: 95px 65px 65px 65px;
	border: none;
	line-height: 57px;
	font-weight: 800;
	letter-spacing: 0px;
	margin: 0;
	position: relative;
	z-index: 1;
}
blockquote.post-blockquote .quot-author {
	font-size: 1rem;
	font-family: serif;
	font-weight: 400;
	display: block;
}
blockquote.post-blockquote:before { 
	position: absolute;
	left: 40px;
	top: 85px;
	font-size: 3em;
	color: rgba(255,255,255,.15);
	content: "\f10d";
	display: block;
	font-family: FontAwesome;
	z-index: -1;
}
.blog-single blockquote {
	background-color: #e2e2e2;
	padding: 15px;
	font-family: 'Open Sans';
	font-size: .9em;
	font-style: italic;
	border-left: 4px solid #16a085;
	margin-left: 30px;
}

/*------------ Attachment Link ------------*/
.attachmentlink {
	background-color: #16a085;
	padding: 40px;
	color: #ffffff;
	font-size: 2em;
	line-height: 35px;
	font-weight: 700;
	letter-spacing: 0px;
	margin: 0;
	position: relative;
	overflow: hidden;
}
.attachmentlink span {
	font-weight: 800;
}
.attachmentlink:before {
	position: absolute;
	left: 0px;
	top: 16px;
	font-size: 2.5em;
	font-weight: 400;
	color: rgba(255,255,255,.15);
	content: "\f0c1";
	display: block;
	font-family: FontAwesome;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.attachmentlink .attach-link {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	display: block;
}

/*------------ Pagination ------------*/
.pagination {
	margin: 0px;
}
.pagination a {
	background-color: #16a085;
	border: 1px solid transparent;
	color: #ffffff;
	display: inline-block;
	font-family: 'Open Sans';
	font-size: .93em;
	margin: 0px 5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

/*--------------- Blog Single Page ---------------*/

/*----------- Author Social Share ---------*/
.author-social-share {
	padding: 0px 10px 30px 0px;
}
.author-social-share a {
	border: 2px solid transparent;
	display: inline-block;
	font-size: .8em;
	height: 25px;
	line-height: 25px;
	width: 25px;
	text-align: center;
	margin-left: 5px;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.author-social-share .twitter:hover {
	background-color: #5eaade;
	border: 2px solid #5eaade;
	color: #ffffff;
} 
.author-social-share .facebook:hover {
	background-color: #43609c;
	border: 2px solid #43609c;
	color: #ffffff;
}
.author-social-share .pinterest:hover {
	background-color: #cb2027;
	border: 2px solid #cb2027;
	color: #ffffff;
}
.author-social-share .google-plus:hover {
	background-color: #dd4b39;
	border: 2px solid #dd4b39;
	color: #ffffff;
}

/*---------- Author Bio -----------*/
.author-bio-container {
	border: 1px solid rgba(226, 226, 226, 0.5);
}
.box-title {
	padding: 10px 0px 0px 30px;
	font-size: 1.2em;
	font-weight: 700;
}
.author-details {
	padding-left: 150px;
}
.author-bio-container .about-author {
	display: inline-block;
	padding-top: 10px;
}
.author-details p {
	font-size: .85em;
}
.author-name {
	padding-bottom: 10px;
}
.social-btn {
	padding-top: 10px;
}
.author-bio-container .social-btn a {
	border: 2px solid transparent;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: .9em;
}
.author-bio-container .twitter-btn {
	color: #55acee;
}
.author-bio-container .facebook-btn {
	color: #3d5fa6;
}
.author-bio-container .google-plus-btn {
	color: #dd4b39;
}
.author-bio-container .linkedin-btn {
	color: #0283c4;
}
.author-bio-container .dribbble-btn {
	color: #eb4c89;
}
.author-bio-container .google-plus-btn:hover {
	background-color: #dd4b39;
	color: #ffffff;
}
.author-bio-container .twitter-btn:hover {
	background-color: #55acee;
	color: #ffffff;
}
.author-bio-container .facebook-btn:hover {
	background-color: #3d5fa6;
	color: #ffffff;
}
.author-bio-container .google-plus-btn:hover {
	background-color: #dd4b39;
	color: #ffffff;
}
.author-bio-container .linkedin-btn:hover {
	background-color: #0283c4;
	color: #ffffff;
}
.author-bio-container .dribbble-btn:hover {
	background-color: #eb4c89;
	color: #ffffff;
}

/*------------ Comments ------------*/
.comments-area {
	padding: 40px 40px 10px 0px;
}
.comments-area .comment-list {
	margin-top: 25px;
	margin-bottom: 25px;
	display: inline-block;
}
.comments-area .comment-body {
	margin: 25px 0;
	display: inline-block;
	width: 100%;
}
.comments-area .comment-list,
.comments-area .children {
	list-style: none;
	padding-left: 0;
}
.comments-area .children {
	padding-left: 45px;
}
.comments-area .parent {
	display: inline-block;
	width: 100%;
}
.comments-area .comment-meta {
	float: left;
	width: 100px;
	height: 100px;
}
.comment-metadata,
.comment-content {
	margin-left: 120px;
}
.comment-author {
	margin: 0;
	color: #262626;
}
.comment-author a {
	color: #262626;
}
.comment-metadata time {
	margin: 10px 0;
	display: inline-block;
}
.comment-metadata a time,
.comment-metadata time {
	font-size: 13px;
	color:#666666; 
}
.comment-metadata a time,
.comment-metadata time,
.comments-area .reply a {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.comments-area .reply a {
	font-size: 0.75em;
	font-weight: 800;
	display: inline-block;
	padding: 5px 10px 3px 10px;
	position: relative;
}
.comments-area .reply a:hover {
	color: #16a085;
}
.comments-area .reply a:before {
	content: "\f122";
	position: absolute;
	left: -5px;
	top: 6px;
	font-family: 'FontAwesome';
}
.comments-area p {
	margin-bottom: 0px;
}
.comment-respond .comment-reply-title {
	margin: 60px 0;
}
.comment-respond .form-control {
	background-color: inherit;
	border-color: #16a085;
	color: #2a2a2a;
}

/*--------------- Portfolio Details ---------------*/
.project-title {
	padding-bottom: 30px;
}
.textwidget p {
	font-size: .9em;
	line-height: 23px;
}
.similar-project {
	padding-top: 100px;
}
.similar-project-slider .owl-item {
	padding: 0px;
}
.similar-project-slider a:hover {
	color: #16a085;
}
.portfolio-sidebar .widget-title {
	font-size: 1.25em;
	padding-top: 0px;
	padding-bottom: 20px;
}
.portfolio-sidebar .text-widget {
	padding-bottom: 35px;
}
.portfolio-sidebar .btn {
	background-color: #16a085;
	color: #ffffff;
}
.portfolio-sidebar .btn:hover {
	background-color: #ffffff !important;
	border-color: #16a085;
	color: #16a085;
}

/*------------------- 404 Page -------------------*/
.page-not-found .btn {
	background-color: #16a085;
	color: #ffffff;
}
.page-not-found .btn:hover {
	background-color: #ffffff;
	border-color: #16a085;
	color: #16a085;
}

/*-------------------- Sidebar --------------------*/
.side-bar .entry-title {
	font-size: .875em;
	padding-bottom: 5px;
}
.widget-title {
	font-family: 'Open Sans';
	font-size: 1.5em;
	margin-top: 0;
	line-height: 1em;
	padding-top: 50px;
	padding-bottom: 30px;
}
.widget li {
	list-style: none;
}
.widget li:before {
	font-family: 'FontAwesome';
}

/*-------------- Search Widget ---------------*/

.widget_search>form {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 3px solid #e6e6e6;
	z-index: 0;
}
.widget_search>form input:focus,
.widget_search>form input {
	border:none;
	outline: none;
}
.widget_search>form input {
	background-color: transparent;
	color: #242424;
	font-family: Lato;
	line-height: 25px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 12px 15px;
	z-index: -1;
}
.widget_search>form .btn {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.widget_search>form .btn {
	background-color: transparent;
	color: #b8b8b8;
	font-size: 1.25em;
	width: 45px;
	height: 45px;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	position: absolute;
}
.widget_search>form .btn:hover {
	border-color: transparent;
	color: inherit;
}
.widget_search>form .btn:focus {
	outline: 0;
	border: none;
}

/*---------------- widget_img ------------------*/
.widget_img a,
.widget_img a>img,
.widget_img a:after,
.widget_img a:after,
.widget_img a:before,
.widget_img .overlay {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.widget_img {
	float: left;
	margin-right: 5px;
}
.widget_img a {
	width: 70px;
	height: 70px;
	margin: 0 4px 0px 0;
	position: relative;
	display: inline-block;
	overflow: hidden;
	z-index: 0;
	border: 1px solid #e6e6e6;
}
.widget_img a>img {
	width: 100%;
	height: 100%;
}
.widget_img a:hover>img {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
.widget_img a:after,
.widget_img a:before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: transparent;
	position: absolute;
	top:50%;
	left: 0%;
	z-index: 2;
}
.widget_img a:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.widget_img a:hover:after,
.widget_img a:hover:before {
	background-color: #ffffff;
	width: 40%;
	left: 30%;
}
.widget_img .overlay {
	position: absolute;
	top: 35%;
	left: 35%;
	bottom: 35%;
	right: 35%;
	z-index: 1;
}
.widget_img a:hover .overlay {
	background-color: rgba(22, 160, 133, 0.7);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/*------------------ Categories, Archive Widget & Project DEtails -----------------*/
.widget_categories li a,
.widget_categories li:before,
.widget_categories li:after,
.widget_archive li:before,
.widget_archive li:after {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.widget_categories li,
.widget_archive li {
	display: block;
	padding: 5px 0 5px 40px;
	position: relative;
}
.widget_categories li a,
.widget_archive li a {
	color: #545454;
	display: inline-block;
	font-size: .94em;
	width: 100%;
}
.widget_categories li a:hover,
.widget_archive li a:hover {
	color: #1fb5ac;
}
.widget_categories li:after,
.widget_archive li:after, 
.widget_categories li:before,
.widget_archive li:before {
	content: "\f054";
	color: #ffffff;
	font-family: FontAwesome;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	height: 15px;
	width: 15px;
	border-radius: 100%;
	display: inline-block!important;
	position: absolute;
	top: 8px;
	left: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.widget_categories li:before,
.widget_archive li:before {
	background-color: #5f5f5f;
	opacity: 1;
}
.widget_categories li:after,
.widget_archive li:after {
	left: -10px;
	opacity: 0;
}
.widget_categories li:hover:after,
.widget_archive li:hover:after {
	opacity: 1;
	left: 10px;
	color: #ffffff !important;
	background-color: #16a085;
}
.project-details li {
	display: block;
	line-height: 25px;
}
.project-details li:before {
	font-size: .8em;
	padding-right: 10px;
}
.widget-details .btn {
	margin-top: 20px;
}

/*---------------- Recent Post Widget -----------------*/
.widget_recent_entries li {
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}
.widget_recent_entries img {
	width: 70px;
	height: 70px;
	float: left;
}
.widget_recent_entries .fa {
	color: #cccccc;
}
.widget_recent_entries .recent-post-details {
	margin-left: 80px;
}
.widget_recent_entries .recent-post-details .post-title {
	font-size: 0.93em;
	font-weight: 700;
}
.widget_recent_entries time,
.widget_recent_entries .author {
	color: #b2b2b2;
	font-family: Lato;
	padding-right: 5px;
	font-size: .8em;
}

/*---------------- Tag Widget ----------------*/

.widget_tagcloud  a,
.widget_tagcloud  a:after {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.widget_tagcloud  a {
	display: inline-block;
	color: #8c8c8c;
	font-size: 0.875em;
	border:2px solid #e6e6e6;
	padding: 5px 7px;
	margin: 0 3px 5px 0;
	position: relative;
	font-family: LATO;
}
.widget_tagcloud  a:hover {
	color: #ffffff;
}
.widget_tagcloud  a.active {
	background-color: #1fb5ac;
	color: #ffffff;
	border-color: #1fb5ac;
}
.widget_tagcloud  a:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background-color: transparent;
	z-index: -1;
}
.widget_tagcloud  a:hover:after {
	background-color: #16a085;
	top: 0;
	left: 0;
	bottom: 0;
	right:0;
}

/*-------------- Calendar ------------*/
.widget_calendar td a,
.widget_calendar td a:after {
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.widget_calendar table {
	width: 100%;
	text-align: center;
}
.widget_calendar caption {
	color: #262626;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
	font-size: 1.25em;
	height: 40px;
	border: 2px solid #e6e6e6;
	border-bottom: none;
	border-bottom: none;
}
.widget_calendar tbody {
	border: 1px solid #e6e6e6;
	border-top: none;
}
.widget_calendar th {
	border: 2px solid #e6e6e6;
	height: 40px;
	text-align: center;
}
.widget_calendar td {
	height: 40px;
	text-align: center;
	border: 2px solid #e6e6e6;
}
.widget_calendar td a {
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 38px;
	position: relative;
	z-index: 0;
}
.widget_calendar td a:hover {
	color: #ffffff;
}
.widget_calendar td a:after {
	content: "";
	position: absolute;
	top: 8px;
	left: 8px;
	bottom: 8px;
	right: 8px;
	background-color: transparent;
	z-index: -1;
}
.widget_calendar td a:hover:after {
	background-color: #16a085;
	color: #ffffff;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right:-2px;
}

/*--------------- style-switcher ------------------*/
.style-switcher .toggle:hover {
	background: #16a085;
}
.style-switcher .toggle:hover,
.widget_tag_cloud .tagcloud a:hover {
	border-color: #16a085;
}
.style-switcher {
	background: #fff;
	width: 220px;
	position: fixed;
	left: -220px;
	top: 116px;
	z-index: 120000;
	border: 1px solid #ddd;
	padding:0 20px 20px 20px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.style-switcher.panel-merge{
	left: 0px !important;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.style-switcher h3 {
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	margin: 0 -20px 20px -20px;
	padding: 15px 20px;
}
.style-switcher h4 {
	font-size: 12px;
	color: #747474;
}
.style-switcher ul {
	padding: 20px;
	list-style: none;
	margin-bottom: 10px;
	display: inline-block;
	border-bottom: 1px dashed #ddd;
	width: 100%;
	padding-bottom: 20px;
}
.style-switcher ul li {
	cursor: pointer;
}
.style-switcher ul.color-list li.cl-item {
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.style-switcher .toggle:hover i {
	color: #fff;
}
.style-switcher .toggle {
	background: #FFF;
	border: 1px solid #ddd;
	padding: 10px;
	font-size: 16px;
	color: #272727;
	position: absolute;
	overflow: hidden;
	right: -42px;
	top: 48px;
	width: 42px;
	text-align: center;
	outline: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.style-switcher .toggle {
		top: 47px;
	}
}
.style-switcher .toggle i{
	color: #272727;
}
