.pattern-overlay {
	background: url(../../../images/pattern.png) rgba(14, 14, 14, 0.3);
}
.carousel-control.left:hover,
.carousel-control.right:hover {
	color: #c0392b;
}

.page-name-sec {
	background: url(../../../images/background/quote.jpg) 50% 0 no-repeat fixed;
}
.client-quote {
	background: url(../../../images/background/quote.jpg) 50% 0 no-repeat fixed;
}
#our-facts {
	background: url(../../../images/background/facts.jpg) 50% 0 no-repeat fixed;
}
.latest-tweet {
	background: url(../../../images/background/tweet.jpg) 50% 0 no-repeat fixed;
}

.table:hover .plan-name,
.package-footer .btn,
.news-area .media-left,
.progress .progress-bar,
.progress.thin .progress-percent,
.menu li .sub-menu>li>a,
.cd-search,
.about-items .item-icon,
#portfolio-page,
.service-btn .btn,
.contact-form .submit-btn,
.scroll-to-top,
blockquote.post-blockquote,
.attachmentlink,
.widget_categories li:hover:after,
.widget_archive li:hover:after,
.panel-default>.panel-heading,
.widget_tagcloud  a:hover:after,
.page-not-found .btn,
#portfolio-page,
.portfolio-sidebar .widget-details .btn,
.continue-reading .btn,
.pagination a,
.widget_calendar td a:hover:after,
.submit-btn,
.style-switcher .toggle:hover,
.style-switcher .toggle:hover,
.widget_tag_cloud .tagcloud a:hover,
.about-items .item-icon:before {
	background-color: #c0392b;
}

.menu li.active a,
.menu li a:hover,
.head-title span,
.cd-search.is-visible,
.search-is-visible:before,
.main-slider .btn:hover,
.fact-details .item-icon,
.more-works a.btn,
.services .item-icon,
.footer-social a,
.footer-top a:hover,
.entry-title a:hover,
.tweet-slider a,
.entry-title a:hover,
.entry-meta span a:hover,
.widget_categories li:hover:after,
.widget_archive li:hover:after,
.comments-area .reply a,
.page-not-found .btn:hover,
.similar-project-slider a:hover,
.portfolio-sidebar .widget-details .btn:hover,
.page-location li.active,
.continue-reading .btn:hover,
.comments-area .reply a:hover {
	color: #c0392b;
}
.menu li .sub-menu>li>a:hover {
	background-color: #E9230F;
} 

.service-btn .btn:hover {
	border-color: #c0392b;
	color: #c0392b;
}

.widget_categories li a:hover,
.widget_archive li a:hover {
	color: #c0392b;
}

.widget_tagcloud  a.active {
	background-color: #c0392b;
	color: #ffffff;
	border-color: #c0392b;
}

.comment-respond .form-control,
.page-not-found .btn,
.portfolio-sidebar .widget-details .btn:hover,
.continue-reading .btn:hover,
.blog-single blockquote {
	border-color: #c0392b;
}

.widget_img a:hover .overlay {
	background-color: rgba(192, 57, 43, 0.7);
}
